    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">File storage and I/O</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                    <!--googleoff: snippet--><!--googleoff: index-->

    <div class="show-toc"></div>

<!--googleon: snippet--><!--googleon: index-->

                
                
                <h2>JGI SCAVENGER HUNT - CLICK <a title="follow this link to the first clue!" href="/users/computational-systems/genepool/file-storage-and-io/jgi-digital-scavenger-hunt/" target="_blank">HERE</a> </h2>
<p>There are 5 main user file spaces available on Genepool/Phoebe (soon to be 4 once House is retired on December 20, 2013).</p>
<h2>$HOME</h2>
<p>Your home directory on Genepool mounted across all NERSC systems.  You should refer to this home directory as $HOME where ever possible.  If you had an old home directory at JGI, on /house or on the netapps we recommend you refer to this old home directory as $OLD_HOME.   You should not change the environment variable $HOME.  For more details on quotas, dotfile initialization and back ups, please see our <a href="https://docs.nersc.gov/filesystems/global-home/">global homes</a> page.</p>
<h2>Projectb</h2>
<p>projectb is a 2.7PB GPFS based file system for the JGI's active projects.  There are two distinct user spaces in the projectb filesystem: projectb/sandbox and projectb/scratch.  The projectb filesystem is available on genepool, hopper and carver.  The projectb filesystem is only mounted on NERSC computer systems.</p>
<table class="table-plain-border" border="0" align="center"><tbody><tr><td> </td>
<td><strong>projectb Scratch</strong></td>
<td><strong>projectb Sandbox</strong></td>
</tr><tr><td>Location</td>
<td>/global/projectb/scratch/&lt;username&gt;</td>
<td>/global/projectb/sandbox/&lt;program&gt;</td>
</tr><tr><td>Quota</td>
<td>20TB, 5M inodes by default; 40TB upon request</td>
<td>Defined by agreement with the JGI Management</td>
</tr><tr><td>Backups</td>
<td>Not backed up</td>
<td>Not backed up</td>
</tr><tr><td>File Purging</td>
<td>Files not accessed for 90 days are automatically deleted</td>
<td>Files are not automatically purged</td>
</tr></tbody></table><p><br><span style="font-size: 12.727272033691406px; line-height: 1.5em;">projectb "Scratch" and "Sandbox" space is intended for staging and running JGI calculations on the NERSC systems, including genepool, hopper, and carver.  On genepool, the projectb scratch space is the recommended filesystem for performing file IO during all your calculations.  If you have access to the genepool resource, you should have space on projectb scratch. If you don't, please file a ticket at http://help.nersc.gov. The Sandbox areas were allocated by program.  If you have questions about your program's space, please see your group lead. </span></p>
<h2>DnA (Data n' Archive)</h2>
<p><span>DnA is a 1PB GPFS based file system for the JGI's archive, shared databases and project directories.  </span></p>
<table class="table-plain-border" border="0" align="center"><tbody><tr><td> </td>
<td><strong>DnA Projects </strong></td>
<td><strong>DnA Shared</strong></td>
<td><strong>DnA DM Archive</strong></td>
</tr><tr><td>Location</td>
<td>/global/dna/projectdirs/</td>
<td>/global/dna/shared</td>
<td>/global/dna/dm_archive</td>
</tr><tr><td>Quota</td>
<td>5TB default</td>
<td>Defined by agreement with the JGI Management</td>
<td>Defined by agreement with the JGI Management</td>
</tr><tr><td>Backups</td>
<td>Daily, only for projectdirs with quota &lt;= 5TB</td>
<td>Backed up by JAMO</td>
<td>Backed up by JAMO</td>
</tr><tr><td>Files are not automatically purged</td>
<td>Files are not automatically purged</td>
<td>Purge policy set by users of the JAMO system</td>
<td>Files are not automatically purged</td>
</tr></tbody></table><p><span style="font-size: 12.727272033691406px; line-height: 1.5em;"><br>The intention of the DnA "Project" and "Shared" space is to be a place for data that is needed by multiple people collaborating on a project to allow for easy access for data sharing. The "Project" space is owned and managed by the JGI.  The "Shared" space is a collaborative effort between the JGI and NERSC.  </span></p>
<p><span style="font-size: 12.727272033691406px; line-height: 1.5em;"><span>If you would like a project directory, please use the </span><a href="/users/storage-and-file-systems/file-systems/project-directory-request-form/">Project Directory Request Form</a><span>.</span></span></p>
<p><span style="font-size: 12.727272033691406px; line-height: 1.5em;">The "DM Archive" is a data repository maintained by the JAMO system.  Files are stored here when migrated using the JAMO system.  The files can remain in this space for as long as the user specifies.  Any file that is in the "DM Archive" has also been placed in the HPSS tape archive.  This section of the file system is owned by the JGI data management team.</span></p>
<h2>$SCRATCH</h2>
<p>Each user has a "scratch" directory.  Scratch directories are NOT backed up and file are purged if they have not been accessed for 90 days.  Access your scratch directory with the environment variable "$SCRATCH" for example:</p>
<pre class="code-basic">cd $SCRATCH</pre>
<p><span>Scratch environment variables:</span></p>
<table class="table-plain-border" border="0"><tbody><tr><td><strong>Environment Variable</strong></td>
<td><strong>Value</strong></td>
<td>NERSC Systems </td>
</tr><tr><td>$SCRATCH</td>
<td>Best-connected file system</td>
<td> All NERSC computational systems</td>
</tr><tr><td>$BSCRATCH</td>
<td>/global/projectb/scratch/&lt;username&gt;</td>
<td> genepool, hopper, carver</td>
</tr><tr><td>$GSCRATCH</td>
<td>/global/scratch/sd/&lt;username&gt;</td>
<td> All NERSC computational systems</td>
</tr></tbody></table><p><span><br></span></p>
<p><span>$GSCRATCH points to your Global scratch space, and $BSCRATCH points to your projectb scratch space if you have a BSCRATCH allocation.  </span><span>$SCRATCH will always point to the best-connected scratch space available for the NERSC machine you are accessing.  For example, on genepool $SCRATCH will point to $BSCRATCH, whereas on carver $SCRATCH will point to $GSCRATCH.  </span></p>
<p><span>The intention of scratch space is for staging, running, and completing your calculations on NERSC systems.  Thus these filesystems are designed to allow wide-scale file reading and writing from many compute nodes.  The scratch filesystems are not intended for long-term file storage or archival, and thus data is not backed-up, and files not accessed for 90 days will be automatically purged.</span></p>
<h2>Other file systems</h2>
<p>Other file systems are also be mounted on Genepool:</p>
<ul><li><strong>SeqFS - </strong>file system used exclusively by the Illumina sequencers, SDM and Instrumentation groups at the JGI.</li>
<li><strong>/usr/common (/global/common/genepool)</strong> - is a file system where NERSC staff build software for user applications.  This is the principal site for the modular software installations.</li>
<li><strong>/global/scratch</strong> - is a GPFS based file system that is accessible on almost all of NERSC's other compute systems used by all the other NERSC users.  The scratch/sandbox portions of projectb should be favored by JGI users instead of /global/scratch.</li>
<li><strong>/global/project</strong> - is a GPFS based file system that is accessible on almost all of NERSC's other compute systems used by all the other NERSC users.  The projectdir portion of projectb should be favored by JGI users instead of /global/project.</li>
</ul><p> </p>
<p> </p>
                </div>
                
            
