    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Getting started</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                
                <h2>First Steps</h2>
<p>You can log in to Genepool using SSH (Secure Shell) with the following command from any UNIX, Linux, FreeBSD, etc. command shell or terminal:</p>
<pre>
<pre>ssh -l username genepool.nersc.gov</pre>
</pre>
<p>There are several SSH-capable clients available for Windows, Mac, and UNIX/Linux machines. NERSC does not support or recommend any particular client.</p>
<p>By ssh'ing to genepool.nersc.gov, you will access one of the seven genepool login nodes.  These login nodes are situated behind a load balancer, so you may reach a different login node on different days.  If you make use of a tool like "screen" or "tmux", make sure to take note of which login node you started it on.</p>
<p>In addition to the genepool login nodes, the "gpint" systems are available for direct-ssh access.  The gpints differ from the login nodes in that login nodes are intended purely for file management, batch job submission, software compilation, and other "light" use; whereas the gpints can be used for heavier-weight interactive processing.  If you want to run a short (and small) alignment or other calculation without using the batch system, use a gpint.  Some gpints are available for all genepool users, while others are intended for group-specific work.  Please visit page to identify which gpints you may access.</p>
<p>Once you have logged into the login nodes or gpint systems, you should take a look at the list of <a href="/users/computational-systems/genepool/software/">installed software on genepool</a>, and then familiarize yourself with the modules system and the <a href="/users/computational-systems/genepool/user-environment/">user environment on genepool</a>.  To try out some of the software, it is recommended to <a href="/users/computational-systems/genepool/running-jobs/interactive-jobs/">interactively use a compute node</a>, using the "qlogin" command.</p>
<p>To begin running jobs on genepool in earnest, you should begin learning about the genepool<a href="/users/computational-systems/genepool/queues-and-policies/"> batch scheduler system</a>, and look at the <a href="/users/computational-systems/genepool/software/">example batch scripts</a> before submitting your first job.</p>
<p> </p>
                </div>
                
            
