    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Submitting Jobs</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                    <!--googleoff: snippet--><!--googleoff: index-->

    <div class="show-toc"></div>

<!--googleon: snippet--><!--googleon: index-->

                
                
                <h2>Submitting your job</h2>
<p>If you are submitting your job on Genepool or Phoebe you do <strong>NOT</strong> need to source any batch settings.  The batch environment has been loaded into your path by default.   If qsub is not working properly, check to make sure that the <strong>uge</strong> module is loaded:</p>
<p><span class="code-basic">module load uge</span></p>
<p>If you are submitting a job from an external submit host you need to source the appropriate settings.sh file for Genepool or Phoebe.</p>
<pre class="code-basic">source /opt/uge/genepool/uge/genepool/common/settings.sh</pre>
<h2>qsub commands and options</h2>
<p>UGE (Univa Grid Engine) is the batch system used for Genepool/Phoebe. </p>
<table border="0"><tbody><tr><th>Action</th><th>How to do it</th><th>Comment</th></tr><tr><td>Submit a job</td>
<td>qsub <em>script </em></td>
<td>In UGE you need to submit a script, not an executable.</td>
</tr><tr><td>Specify number of processors for a threaded job</td>
<td>qsub -pe pe_slots 8 ...</td>
<td>Request 8 cores on a single node for your job.  Please specify as many processors as will be needed during your job.</td>
</tr><tr><td>Specify number of nodes and processors for an MPI job</td>
<td>qsub -pe pe_8 16 ...</td>
<td>Request 2 nodes with 8 processors per node.  pe_1, pe_2, pe_4, pe_8, pe_16, and pe_32 are available.</td>
</tr><tr><td>Specify memory required per processor</td>
<td>qsub -l ram.c=4G ...</td>
<td>Specify how much memory is required <em>per processor</em> for your job.  At present this is implemented by implicity setting h_vmem (a virtual memory limit), so you will need to account for all virtual memory needed by your application.  Use of a program like memtime during your benchmarking ahead of production may be informative.</td>
</tr><tr><td>Specify a time limit for your job</td>
<td>qsub -l h_rt=6:00:00 ...</td>
<td>Specifies that your job will run for at most 6 hours.  Default is 12 hours. If you request more than 12 hours, your job will enter the long queue, which has much fewer dedicated resources.</td>
</tr><tr><td>Submit a job to the high priority queue</td>
<td>qsub -l high.c <em>script</em></td>
<td>The high.c complex is for small fast turn around jobs</td>
</tr><tr><td>Submit a job that depends on other jobs</td>
<td>qsub -hold_jid [job_ID|job_name] <em>script</em></td>
<td>UGE just recognizes whether or not [job_ID|job_name] is finished before submitting your job.  The newly submitted job will only start once all jobs in the hold_jid list are completed.</td>
</tr><tr><td>Submit a job to different project</td>
<td>qsub -P [project] <em> script</em></td>
<td>By default your job runs as the project corresponding to your primary NERSC project repo.  If qsub indicates you do not have access to the project you specify please file a ticket to get added to it.</td>
</tr><tr><td>Get e-mail from your job upon completion</td>
<td>qsub -m e -M &lt;email address&gt; ...</td>
<td>No email by default.  UGE can also email at the beginning of a job with "-m b", or upon errors with "-m a".</td>
</tr><tr><td>Execute the job in the current directory or specify a directory.</td>
<td>
<p>qsub -cwd ...<br>qsub -wd $BSCRATCH/path/to/job ...</p>
</td>
<td>By default UGE will write output relative to your home directory.  Since generating output files in your home directory from genepool can strain the home directory filesystem, please specify a working directory in your $BSCRATCH space.</td>
</tr><tr><td>Combine stdout and stderr output in one file</td>
<td>qsub -j y -o &lt;filename&gt; ...</td>
<td>By default a stdout and stderr file are written separately for your job.  Specifying "-j y" will join the two (WARNING: this can often make debugging more difficult!).  Specifying "-o &lt;filename&gt;" will redirect stdout to a filename of your choosing.</td>
</tr><tr><td>Send current environment to job</td>
<td>qsub -V ...</td>
<td>Send your current environment to the compute node, and execute your job with that environment, including any loaded modules.  It is recommended to avoid -V, and instead have the batch script load needed modules; this improves reproducibility.</td>
</tr><tr><td>Send specific environment variables</td>
<td>add "-v &lt;variable&gt;[=value][,...]"</td>
<td>Defines or redefines the environment variable(s) to be exported to the execution context of the job</td>
</tr><tr><td>Specify validation level</td>
<td>add "-w {e|w|n|p|v}"</td>
<td>e[rror], w[arning], n[one], p[oke], v[erify].  Default is 'none'.</td>
</tr></tbody></table><h3>Resource Limits</h3>
<p>All of the following resources are requested with the -l flag in qsub.  Consumable resources are a tool used by SGE to make sure that use of fixed resources, such as memory, is scheduled properly.  Once all of the memory on the cluster has been allocated to existing jobs, jobs in the queue will be delayed until more memory is freed up.  The queue the job is submitted to and the execution time requested are additional factors used to determine when a job is executed.  <strong>It is important to understand how much memory and execution time your job needs.  The more time and memory you request, the longer it will take for the job to start. </strong></p>
<table border="0"><tbody><tr><th>Action</th><th>How to do it</th><th>Comment</th></tr><tr><td>User Requestable Queue</td>
<td>add "-l &lt;queue-type&gt;.c"                             </td>
<td>User requestable queues are high.c for the high priority queue and workflow.c for the new workflow queue (implemented soon).</td>
</tr><tr><td>Memory usage</td>
<td>add "-l ram.c=10G"</td>
<td>Default is 5.25 GB per slot.  </td>
</tr><tr><td>Set runtime to N hours, hard limit  </td>
<td>add "-l h_rt=HH:MM:SS"</td>
<td>Specifies a hard limit on the execution time (in hours) for the job.  The default is 12 hours. Job will be killed if this time is exceeded.  The shorter the requested time, the more likely it is the job will run sooner through the back filling mechanism.</td>
</tr><tr><td>
<p>Set runtime to N hours, soft limit                             </p>
</td>
<td>add "-l s_rt=HH:MM:SS"</td>
<td>Specifies a soft limit on the execution time (in hours) for the job.  USR1 signal is sent.  Signal can be trapped with a script to log necessary information</td>
</tr></tbody></table>
                </div>
                
            
