    <div class="main-wrapper">
        
        <h1 id="page-heading">Submitting jobs to Denovo</h1>
        <section><div class="Content"><p> </p>
<h2>Submitting your job</h2>
<p>If you are submitting your job on Denovo using SLURM you do <strong>NOT</strong> need to source any batch settings. <span>If you are submitting your job on Denovo using UGE you do <strong>D</strong></span><strong>O</strong><span> need to source UGE batch settings.</span> The batch environment can be loaded into your path using modules.  If qsub is not working properly, check to make sure that the <strong>uge</strong> module is loaded:</p>
<p><span class="code-basic">module load uge</span></p>
<p>Alternatively, add it to your ~/.bashrc.ext</p>
<p><span class="code-basic"> [ "$NERSC_HOST" == denovo ] &amp;&amp; module load uge</span></p>
<p>If you are submitting a job from an external submit host you need to source the appropriate settings.sh.</p>
<pre class="code-basic">source /opt/uge/denovo/uge/denovo/common/settings.sh </pre>
<hr><h2>UGE interactive jobs on Denovo</h2>
<p> CHOS is available, but <em>not enabled</em> by default on Denovo. To submit interactive jobs with the same environment as genepool, you can pass the appropriate chos environment with qrsh</p>
<p><span class="code-basic"> <span>$ qrsh -pty y -v CHOS=deb6gp /bin/chos /bin/bash -l</span></span></p>
<h2>SLURM interactive jobs on Denovo</h2>
<p>Slurm is available for testing on Denovo and the module is loaded for all users.</p>
<p><span class="code-basic"><span> <span>$ srun --pty /bin/bash</span></span></span></p>
<hr><h2>Shifter jobs on Denovo</h2>
<p>Shifter has been made available on Denovo as well. For testing shifter jobs, we recommend that you debug your code using an interactive session first via SLURM or UGE. It is only available on compute nodes.</p>
<pre class="code-basic"><span><span><span>$ srun --pty /bin/bash</span><br><br>$ shifterimg pull debian:latest</span><br>2017-01-15T15:40:56 Pulling Image: docker:debian:latest, status: READY</span><br><br><span>$ shifterimg images</span><br><span>mendel  docker   READY  1f025ed91d   2016-11-14T09:19:40 debian:latest</span><br><br><span>$ shifter —volume=`pwd`:/my_dir --image=docker:debian:latest /bin/bash</span></pre></div></section>
        
        
    </div>
</div>



            </div>
            <!--googleoff: snippet--><!--googleoff: index-->
            <div class="footer">
                
<div class="LastEdited">Last edited: 2017-01-15 16:14:13</div>

<div class="footer-wrapper">
        <div class="badges">
            <a href="http://www.lbl.gov/"><img src="themes/nersc-sass/images/berkeley-lab-badge.png" /></a>
            <a href="http://science.energy.gov/"><img src="themes/nersc-sass/images/doe-badge.png" /></a>
        </div>
        
        <ul class="footer-links">
            
                <li><a href="/users/accounts/user-accounts/acknowledge-nersc/">Acknowledge NERSC</a></li>
            
                <li><a href="/about/contact-us/">Contact us</a></li>
            
                <li><a href="http://www.lbl.gov/Disclaimers.html">Privacy and Security Notice</a></li>
            
            
        </ul>
        
</div>



            </div>
        </div>
    </div>

<script type="text/javascript" src="/framework/thirdparty/jquery/jquery.min.js?m=1462921760"></script><script type="text/javascript" src="/mysite/javascript/no-console.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.beautyOfCode.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/dataTables-1.7/media/js/jquery.dataTables.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/shadowbox-3.0.3/shadowbox.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.metadata.2.0/jquery.metadata.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.media.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.oembed.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.cycle/jquery.cycle.all.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.bookmark.package-1.4.0/jquery.bookmark.min.js?m=1486417999"></script><script type="text/javascript" src="/themes/nersc-sass/javascript/jquery-ui-1.8.7.custom/js/jquery-ui-1.8.7.custom.min.js?m=1486417982"></script><script type="text/javascript" src="/mysite/javascript/jquery.expander/jquery.expander.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/core.js?m=1486417999"></script><script type="text/javascript" src="/themes/nersc-sass/javascript/theme-core.js?m=1486417982"></script></body>
</html>
