    <div class="main-wrapper">
        
        <h1 id="page-heading">Cluster Statistics</h1>
        <section><div class="Content"><p><a href="/users/computational-systems/genepool/cluster-statistics/usage-statistics/">Genepool Usage Statistics</a></p>
<p><a style="font-size: 13px; line-height: 1.5em;" href="https://portal-auth.nersc.gov/project/genepool/procmon/houseHunter.html"></a><a style="font-size: 13px; line-height: 1.5em;" href="/users/computational-systems/genepool/cluster-statistics/genepool-memory-heatmaps/">Genepool Memory Heatmaps</a></p>
<p><a href="/users/computational-systems/genepool/cluster-statistics/genepool-time-heatmaps/">Genepool Time Heatmaps</a></p>
<p><a href="/users/computational-systems/genepool/cluster-statistics/uge-scheduler-cycle-time/">UGE Scheduler Cycle Time</a></p>
<p> </p></div></section>
        
        
    </div>
</div>



            </div>
            <!--googleoff: snippet--><!--googleoff: index-->
            <div class="footer">
                
<div class="LastEdited">Last edited: 2016-11-21 08:44:27</div>

<div class="footer-wrapper">
        <div class="badges">
            <a href="http://www.lbl.gov/"><img src="themes/nersc-sass/images/berkeley-lab-badge.png" /></a>
            <a href="http://science.energy.gov/"><img src="themes/nersc-sass/images/doe-badge.png" /></a>
        </div>
        
        <ul class="footer-links">
            
                <li><a href="/users/accounts/user-accounts/acknowledge-nersc/">Acknowledge NERSC</a></li>
            
                <li><a href="/about/contact-us/">Contact us</a></li>
            
                <li><a href="http://www.lbl.gov/Disclaimers.html">Privacy and Security Notice</a></li>
            
            
        </ul>
        
</div>



            </div>
        </div>
    </div>

<script type="text/javascript" src="/framework/thirdparty/jquery/jquery.min.js?m=1462921760"></script><script type="text/javascript" src="/mysite/javascript/no-console.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.beautyOfCode.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/dataTables-1.7/media/js/jquery.dataTables.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/shadowbox-3.0.3/shadowbox.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.metadata.2.0/jquery.metadata.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.media.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.oembed.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.cycle/jquery.cycle.all.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.bookmark.package-1.4.0/jquery.bookmark.min.js?m=1486417999"></script><script type="text/javascript" src="/themes/nersc-sass/javascript/jquery-ui-1.8.7.custom/js/jquery-ui-1.8.7.custom.min.js?m=1486417982"></script><script type="text/javascript" src="/mysite/javascript/jquery.expander/jquery.expander.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/core.js?m=1486417999"></script><script type="text/javascript" src="/themes/nersc-sass/javascript/theme-core.js?m=1486417982"></script></body>
</html>
