    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Batch Script Examples</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                    <!--googleoff: snippet--><!--googleoff: index-->

    <div class="show-toc"></div>

<!--googleon: snippet--><!--googleon: index-->

                
                
                <h2>My First Script</h2>
<p>This is a simple example that you can use to make sure that your settings are correct before submitting more complicated jobs.</p>
<p>First, copy the contents of hello.sh into a file.</p>
<pre class="code-basic">genepool% cat hello.sh<br>#!/bin/bash<br>sleep 120<br>echo "Hello World"<br><br></pre>
<p>Then submit your job with the qsub command</p>
<pre class="code-basic">genepool% qsub hello.sh</pre>
<p> Monitor your job with the qstat command:</p>
<pre class="code-basic">genepool% qs -u &lt;username&gt;</pre>
<p>You can also get more detailed information about your job using:</p>
<pre>genepool% qs -j &lt;jobid&gt;</pre>
<p>The job id can be found using the qstat -u command.</p>
<h2>Basic Batch Script</h2>
<p>Here is an example of a basic script that specifies the working directory, the shell and the queue.  The #$ must be used to specify the grid engine options used by qsub.  Details are provided for each of the options in the script.</p>
<pre class="code-basic">#!/bin/bash
# Set SGE options:
## ensure a specific environment variable is set properly
#$ -v env_var=&lt;value&gt;
## run the job in the current working directory (where qsub is called)
#$ -cwd
## specify an email address
#$ -M uname@lbl.gov
## specify when to send the email when job is (a)borted, (b)egins or (e)nds normally
#$ -m abe
## Specify a run time of 11 hours (or 39600 seconds)
#$ -l h_rt=11:00:00
## Specify 12G of memory for the job
#$ -l ram.c=12G

## Your job info goes here
./myprogram inputs
</pre>
<p>Then the above is submitted using:</p>
<pre class="code-basic">% qsub myscript</pre>
<h2>Whole-node Scheduling</h2>
<p>If you would like to run on the new hardware, you need to specify the exclusive.c complex in your script.  This will give you access to nodes with 120G of memory and 16 physical cores.  This means that you can run with up to 16 threads or 16 MPI tasks.  </p>
<pre class="code-basic">#!/bin/bash

#
# Set SGE options:
#
## run the job in the current working directory (where qsub is called)
#$ -cwd
## specify an email address
#$ -M uname@lbl.gov
## specify when to send the email when job is (a)borted, (b)egins, or (e)nds
#$ -m abe
## Request a whole compute node, the new hardware is all scheduled this way
#$ -l exclusive.c
## specify a 12 hour runtime
#$ -l h_rt=12:00:00
## specify the memory used, up to 120G of memory with ram.c
#$ -l ram.c=120G

# Your job info goes here
./myprogram inputs
</pre>
<h2>Large Memory, Long Walltime Example</h2>
<p>If your job requires more than the default 5GB of memory, you can do the following:</p>
<pre class="code-basic">#!/bin/bash
#
# Set SGE options:
#
## run the job in the current working directory (where qsub is called)
#$ -cwd
## specify an email address
#$ -M uname@lbl.gov
## specify when to send the email when job is (a)borted, (b)egins, or (e)nds
#$ -m abe
## specify a 24 hour runtime
#$ -l h_rt=24:00:00
## specify the memory used, with ram.c
#$ -l ram.c=100G
## Your job info goes here
./myprogram inputs
</pre>
<h2>High Priority Queue</h2>
<p>If you want to test your pipeline on a small problem before submitting a job that requires more resources, use the high priority queue.  Each users is allowed to use 8 slots in the high priority queue.</p>
<pre class="code-basic">#!/bin/bash
#
# == Set SGE options:
#
## run the job in the current working directory (where qsub is called)
#$ -cwd
## submit the job to the high priority queue
#$ -l high.c
## specify an email address
#$ -M uname@lbl.gov
## when to send the email when job is (a)borted, (b)egins, (e)nds
#$ -m abe
## specifying an 8 hour runtime
#$ -l h_rt=08:00:00
## specify 48G of memory
#$ -l ram.c=48G
#
# == Your job info goes here
./myprogram inputs
</pre>
                </div>
                
            
