    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Interactive Jobs</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                    <!--googleoff: snippet--><!--googleoff: index-->

    <div class="show-toc"></div>

<!--googleon: snippet--><!--googleon: index-->

                
                
                <h2>Interactive Jobs</h2>
<p>The login nodes (genepool13 and genepool14) on Genepool should not be used for heavy interactive work.  These login nodes are shared amongst all Genepool users, so heavy CPU or memory usage will affect other Genepool users. Instead, you should run intensive interactive sessions via the scheduler with the "qlogin" command, or on a group-dedicated gpint server.</p>
<h2><strong>Scheduled Interactive Sessions</strong></h2>
<p>PLEASE NOTE: As of May 2016, qlogin sessions are, by default, run exclusively (meaning that all cores on a node will be given to the interactive session). Requests for interactive slotted sessions will now, typically, be un-schedulable (without clearing the JSV - see below). <span>Interactive sessions are available to be run on any exclusive queue (normal_excl.q, high_excl.q, or long_excl.q), though users may experience issues with getting a session during peak usage hours (generally weekday afternoons). </span></p>
<p>Use the qlogin command to run jobs interactively.  The example below shows how to request an interactive session on Genepool. </p>
<pre><span class="code-plain">genepool:$~&gt; qlogin</span></pre>
<p>This will put you directly onto the first available exclusive node, where you can then do interactive work.</p>
<p>Requesting a session on the less-frequently-used high_excl.q will often be more reliable, but depends heavily upon current cluster usage. <span>Each user is permitted to use up to 2 sessions at a time in the high priority queue. </span></p>
<pre class="code-plain">genepool:$~&gt; qlogin -q high_excl.q</pre>
<p> You can use qlogin to get on any compute node in the cluster, the high_excl.q option just routes you to the less utilized high-priority nodes. </p>
<h4>Suspending processes in a qlogin session</h4>
<p>if you would like to suspend a process while running in a qlogin session (usually done with Ctrl-Z), you must do the following </p>
<pre class="code-shell">stty susp ^K </pre>
<h2>Slotted interactive sessions</h2>
<p>Slotted interactive sessions are NOT recommended. Although it is possible to request a slotted interactive session by clearing or avoiding Genepool's job submission verifier (JSV), other automated slotted jobs will be running on the compute node you qlogin into, and it would be possible, by accident or design, to interfere with those other jobs by consuming more memory or CPUs interactively than the qlogin initially requested. This can potentially cause harm to the JGI's pipelines, and so, by default, qlogin requests will go into exclusive queues. </p>
<h2>Group-specific Genepool Interactive Nodes (gpints)</h2>
<p>Users can also run interactive work on the interactive/analysis nodes dedicated for various groups.  See the <a href="/users/computational-systems/genepool/configuration/">list</a> of interactive resources available to your group.  One important aspect of using gpints is cooperation with your group members.  </p>
<h3>Memory limits on gpint nodes</h3>
<p>In order to prevent catastrophic system crashes due to overcommission of memory all genepool computational nodes (including login nodes and gpints) are configured to never overcommit memory.  This means that a 120G node will not be able to provide more than 120G of memory.  However, the "free" or "available" memory that you see in top output only accounts for memory not presently in use, it doesn't account for memory requested but not-yet claimed.  The only way at present to check right for the currently available memory is to look at the "Commited_AS" property in /proc/meminfo:</p>
<p class="code-shell">dmj@genepool12:~$ cat /proc/meminfo | grep -i commit<br>CommitLimit: 131668272 kB<br>Committed_AS: 16176344 kB<br>dmj@genepool12:~$</p>
<p>The information above indicates that the system believes it has a limit of 128GB (131,668,272 kB), and has allocated 15.4GB (16,176,344 kB) of memory.</p>
<p>WARNING: The default behavior of the Java Virtual Machine is to allocate 1/4 of the system memory.  On the login nodes we have set the limits very restrictively to prevent accidental overruns of memory.  You'll need to specify your maximum memory requirements carefully with java to prevent running the system too low on memory.  Please see </p>
<p> </p>
<p> </p>
<p> </p>
                </div>
                
            
