    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Parallel Batch Scripts</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                    <!--googleoff: snippet--><!--googleoff: index-->

    <div class="show-toc"></div>

<!--googleon: snippet--><!--googleon: index-->

                
                
                <h2>Parallel Environments on Genepool</h2>
<p>You can run parallel jobs that use MPI or OpenMP on Genepool as long as you make the appropriate changes to your submission script! To investigate the parallel environments that are available on Genepool, you can use</p>
<table border="0"><tbody><tr><th>Command</th><th>Description</th></tr></tbody><tbody><tr><td>qconf -sp &lt;pename&gt;</td>
<td>Show the configuration for the specified parallel environment.</td>
</tr><tr><td>qconf -spl</td>
<td>Show a list of all currently configured parallel environments.</td>
</tr></tbody></table><h2>Basic Parallel Example</h2>
<p>If your job requires the default 5GB of memory per slot, you can do the following:</p>
<pre class="code-plain">#!/bin/bash
#
# == Set SGE options:
#
# -- ensure BASH is used
# -- run the job in the current working directory (where qsub is called)
#$ -cwd
# -- run with the environment variables from the User's environment
#$ -v env_var_name=value
# -- specify an email address
#$ -M uname@lbl.gov
# -- specify when to send the email when job is (a)borted,
# -- (b)egins or (e)nds
#$ -m abe
# -- specifying a 12 hour runtime
#$ -l h_rt=12:00:00
# -- Use the following, so you can catch the errors thrown by SGE if your job fails
# -- to submit.
#$ -w e
####
# -- request 4 slots on the same node, it will get 5GB memory per slot for a total of 20GB
# -- for the entire job.  -pe is the flag for parallel environment, pe_slots is the basic
# -- parallel environment on Genepool.
#$ -pe pe_slots 4
# == Your job info goes here
./myprogram inputs
</pre>
<p> </p>
<h2>Whole-node Parallel Example </h2>
<p>If you want to run a threaded job on a whole node, use the -l exclusive.c complex.  <strong>Note: you do NOT need to specify a parallel environment with the -pe flag. </strong></p>
<pre class="code-plain">#!/bin/bash
#
# == Set SGE options:
#
# -- ensure BASH is used
#$ -S /bin/bash
# -- run the job in the current working directory (where qsub is called)
#$ -cwd
# -- run with the environment variables from the User's environment
#$ -v env_var_name=value
# -- specify an email address
#$ -M uname@lbl.gov
# -- specify when to send the email when job is (a)borted,
# -- (b)egins or (e)nds
#$ -m abe
# -- specifying a 12 hour 30 minute runtime
#$ -l h_rt=12:30:00
# -- request a whole node
#$ -l exclusive.c
# -- Use the following, so you can catch the errors thrown by SGE if your job fails
# -- to run.
#$ -w e
####
# -- run a job with 16 threads, this is an example with OpenMP
# NOTE: You do NOT need to specify a parallel environment.
# == Your job info goes here
export OMP_NUM_THREADS=16
./myprogram inputs</pre>
<p> </p>
<h2>Whole-node MPI example</h2>
<p>If you would like to run an MPI job across more than one of the whole-nodes, you will need to specify the appropriate parallel environment.</p>
<pre class="code-plain">#!/bin/bash
#
# == Set SGE options:
#
# -- run the job in the current working directory (where qsub is called)
#$ -cwd
# -- run with the environment variables from the User's environment
#$ -v env_var_name=value
# -- Specify the memory per MPI task to 120G
#$ -l ram.c=120G
# -- specify an email address
#$ -M uname@lbl.gov
# -- specify when to send the email when job is (a)borted,
# -- (b)egins or (e)nds
#$ -m abe
# -- specifying a 24 hour runtime
#$ -l h_rt=24:00:00
# -- Use the following, so you can catch the errors thrown by SGE if your job fails
# -- to run.
#$ -w e
####
# -- The parallel environment is specified with the -pe flag. The following
# -- requests 2 nodes with one MPI task per node
#$ -pe pe_1 2
# -- The following would request 4 16 core nodes with 16 MPI tasks per node
##$ -pe pe_16 64
# -- The following would request 6 8 core nodes with 8 MPI tasks per node
##$ -pe pe_8 48
# == Your job info goes here
module load openmpi/1.8.1
# -- Using mpirun in OpenMPI 1.8 involves mapping processes across processing devices.
# -- Here we use ppr (processes per resource).
mpirun --map-by ppr:1:node --np 2 ./myprogram inputs
##mpirun --map-by ppr:16:node --np 64 ./myprogram inputs
##mpirun --map-by ppr:8:node --np 48 ./myprogram inputs
</pre>
<p> </p>
<h2>Parallel Large Memory Example</h2>
<p>If you want to request more or less than the default 5GB of memory, then you can use -pe and -l ram.c to request the necessary resources for your job.</p>
<pre class="code-plain">#!/bin/bash
#
# == Set SGE options:
#
# -- ensure BASH is used
# -- run the job in the current working directory (where qsub is called)
#$ -cwd
# -- run with the environment variables from the User's environment
#$ -v env_var_name=value
# -- specify an email address
#$ -M uname@lbl.gov
# -- specify when to send the email when job is (a)borted,
# -- (b)egins or (e)nds
#$ -m abe
# -- specifying a 24 hour runtime
#$ -l h_rt=24:00:00
# -- Use the following, so you can catch the errors thrown by SGE if your job fails
# -- to run.
#$ -w e
####
# -- request 4 slots on the same node, -pe is the flag for parallel environment, pe_slots is the basic
# -- parallel environment on Genepool. 
#$ -pe pe_slots 4
# -- request 10GB of memory per slot, for a total of 10*4= 40GB
#$ -l ram.c=10G
# == Your job info goes here
./myprogram inputs
</pre>
<h2>Notes about high-memory jobs on Genepool</h2>
<p>If you request more than <strong>48GB</strong> of memory (# of slots * memory requested) and your jobs cannot run across multiple nodes, you will be routed to the high memory nodes, (currently those nodes with over 48GB of memory) and it is likely your jobs will wait longer in the queue.  This is due to the fact that there are only a few high-memory nodes on the system.</p>
<p>If your code is set up to run across multiple nodes and you are requesting a small amount of memory per slot, you can run with the</p>
<pre class="code-plain">#$ -pe pe_fill &lt;numslots&gt;</pre>
<p> This will spread your job across multiple lower memory nodes and not force you to wait for a single high memory node.</p>
                </div>
                
            
