    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Collaboration Accounts on genepool</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                    <!--googleoff: snippet--><!--googleoff: index-->

    <div class="show-toc"></div>

<!--googleon: snippet--><!--googleon: index-->

                
                
                <h2>Overview</h2>
<p>The production computing environment on the genepool system has been set up to allow, upon request, collaboration accounts to be created.  The purpose of these collaboration accounts is to allow collections of users to equally access and manipulate files and jobs run by the collaboration user.</p>
<h2>Requesting and maintaining Collaboration Accounts</h2>
<p>Genepool PIs, PI proxies, and JGI group leads can request collaboration accounts.  Please file a ticket to request a <span>collaboration</span> account by visiting https://help.nersc.gov to file a ticket.  Furthermore, only genepool PIs, PI proxies and JGI group leads can request changes in membership to <span>collaboration</span> accounts.  Please file a service ticket to change <span>collaboration</span> account membership or host settings.</p>
<h2>Using the Collaboration Account</h2>
<p>Collaboration accounts on genepool will allow permitted users on specific hosts to switch users.  To switch users on genepool, first ssh to your group gpint system and then run the <em>collabsu</em> command, and finally enter your NIM password to gain access to the <span>collaboration</span> account.  <strong>collabsu</strong> is a replacement for sudo which allows user-level secured switching on the diverse and complex genepool environment.</p>
<pre class="code-shell">dmj@genepool01:~$ ssh gpint
...
dmj@gpint13:~$ collabsu annotrub
[sudo] password for dmj:
annotrub@gpint13:~$</pre>
<h2>Restrictions on Collaboration Accounts</h2>
<p>Collaboration accounts are a special class of account which do not allow direct password access.  If you have a legacy collaboration account which does allow password access, please expect us to contact you about converting it to a modernized and secure collaboration account.  If you do have password access to a legacy collaboration account, please remember that it not permissible for users to share passwords for NERSC accounts, nor is it permissible to hold multiple NERSC accounts.</p>
<p>The policy for running 'collabsu' is set by system, so you will be permitted to run 'collabsu' on any genepool/gpweb system, but not on other NERSC platforms (like carver or jesup).</p>
<p><span>Collaboration</span> accounts are afforded the same privileges as other NERSC-user accounts,  including the same quota limits on /global/homes and scratch directories.  It is important to be careful that the collaboration account does not exceed quotas.  Maintaining coordination between multiple users can be challenging, so ensure you are communicating regularly with your co-users of the collaboration account.</p>
                </div>
                
            
