    <div class="main-wrapper">
        
        <h1 id="page-heading">Genepool Upcoming Changes</h1>
        <section><div class="Content"><h2>Genepool's Upcoming Changes</h2>
<p>Genepool will see several important changes in 2017, outlined on this page. Changes to the system will increase system stability, create greater parity between Genepool and other NERSC HPC systems, and enable new tools like Shifter to run there. Users will need to make adjustments to the way that jobs are scheduled, and may need to recompile or make adjustments to accommodate a major OS version upgrade. If you have any questions or would like focused assistance in transitioning your workload and pipelines to the new system, please contact Dan and Tony via consult@nersc.gov</p>
<p>The Denovo test cluster is now available to all JGI users. Simply ssh to denovo.nersc.gov and login with your NERSC password. Consultants are currently installing modules and making other adjustments to allow rigorous testing of your software. Please send denovo software requests to consult@nersc.gov. </p>
<h4>1. Scheduler change from UGE to SLURM</h4>
<p>Outside of the Mendel compute cluster (where Genepool is housed), all NERSC systems utilize the open source SLURM job scheduler. <span style="font-size: 13px;">NERSC intends to transition completely to SLURM on Genepool login, interactive, and compute nodes by August of 2017. </span></p>
<ul><li>SLURM commands differ from UGE commands. In most cases, there are one-to-one correlations. See <a href="[sitetree_link,id=]#https:/slurm.schedmd.com/rosetta.pdf">this link</a> for a quick reference, and check <a href="/users/computational-systems/cori/running-jobs/slurm-at-nersc-overview/">NERSC's pages about SLURM</a> and the <a href="/users/computational-systems/genepool/genepool-training-and-tutorials/#http:/slurm.schedmd.com/">official documentation</a> for more specific details. </li>
<li>Training materials on <a href="/users/computational-systems/genepool/genepool-training-and-tutorials/#https:/www.nersc.gov/assets/Uploads/CRT-Training-Feb3-2016.pdf">Cori</a> and <a href="/users/computational-systems/genepool/genepool-training-and-tutorials/#https:/www.nersc.gov/assets/Uploads/SLURMTraining-Oct13-2016.pptx">SLURM</a>, presented by JGI-NERSC consultants, <a href="/users/computational-systems/genepool/genepool-training-and-tutorials/">are available</a>. Watch for announcements about additional upcoming trainings and workshops. </li>
<li>Many UGE-based tools (qs, qqacct, isjobcomplete) are not available in SLURM, and your workflow may require adaptation to SLURM-based tools. We've also provided <a href="[sitetree_link,id=]#https:/www.nersc.gov/users/computational-systems/genepool/denovo-test-cluster/">a page on adapting from UGE to SLURM commands</a>.</li>
</ul><h4>2. Operating system upgrade</h4>
<p>Genepool's default user-facing operating system will be upgraded from Debian 6 to SUSE Linux Enterprise Server (SLES) 12. Most user software and scripts should continue to run without issue, but some dynamically-linked software may need to be recompiled. </p>
<ul><li>NERSC software modules will be recompiled and reinstalled to the new OS. In an effort to reduce the number of modules installed and maintained on Genepool, ONLY the most commonly used and requested software will be re-installed. Please send your module requests to consult@nersc.gov</li>
<li>Users may be encouraged to revisit pipelines and workloads to upgrade to newer, more efficient versions of some bioinformatics software.</li>
</ul><h4>3. Moving to Anaconda Python</h4>
<p>Currently, NERSC consultants maintain Python modules, each with varying centrally installed packages maintained by consultants. Occasionally, upgrading a package causes compatibility issues. Other NERSC systems now make use of Anaconda-based Python installations. Anaconda allows much more flexible user installation of packages, and improved tools for creating and using virtual environments. You can get more information on <a href="[sitetree_link,id=]#http:/www.nersc.gov/users/data-analytics/data-analytics/python/anaconda-python/">using Anaconda Python at NERSC</a>, and have a look at the  official <a href="[sitetree_link,id=]#https:/conda.io/docs/get-started.html">Anaconda Python documentation</a>. Our first Anaconda training session was run by NERSC on April 26, 2017, and <a href="[sitetree_link,id=]#https:/www.nersc.gov/assets/Uploads/Anaconda-tutorial-4-26-17.pptx">slides are available here</a>.</p>
<h6>There are two modules installed to Genepool and Denovo available for testing now:</h6>
<ul><li>Python 2: python/2.7-anaconda_4.3.0 on Genepool, or python/2.7-anaconda on Denovo</li>
<li>Python 3: python/3.6-anaconda_4.3.0 on Genepool, or python/3.5-anaconda on Denovo</li>
</ul><p> </p>
<h4><strong style="font-family: inherit; font-size: 1.2em; font-style: inherit;">Things you should consider in the process of updating your work for the new Genepool:</strong></h4>
<div class="O1">
<ul><li>How can NERSC help you make your pipelines run anywhere? JGI computing services may someday take place on Cori, or one of NERSC's next HPC clusters, or you may have opportunities to run in the cloud. How adaptable is your pipeline to migration onto computers outside of Genepool?</li>
<li>What will it take to adapt from UGE to SLURM?</li>
<ul><li>How are your jobs submitted? Can you simply replace UGE commands with SLURM commands, or does your pipeline use more complicated means of job submission?</li>
<li>Adaptable submission scripts, which can recognize what system you're running on may help with adaptability</li>
</ul><li>What modules do you need (and what can be updated)? NERSC consultants need to know what you'll be using on the future Genepool, and you might want to consider using newer, more efficient versions of certain bioinformatics software.</li>
<li>What portions of your pipeline can be adapted to containers? Shifter, NERSC's implementation of Docker containers for Cray HPC systems, may be a good route to helping your software run anywhere.</li>
<li>Continuous integration – transition to GitLab?</li>
<ul><li>If you currently use Jenkins to deploy your software, please talk to a consultant about continuous integration options.</li>
<li>If you don't currently use continuous integration, maybe it's time to consider it!</li>
</ul><li>Workflow managers</li>
<ul><li><span>Other NERSC systems, like Cori, are not well-suited to short single-slotted jobs or large task arrays. </span>If your pipeline submits many small jobs, consider adapting to use of a workflow manager. </li>
</ul><li>Do you want to expand to Cori?</li>
<ul><li>Memory usage may be an issue - Cori systems have much less memory per core than Genepool nodes. </li>
<li>Can you make good use of Burst buffer? KNL?</li>
</ul><li>Standard datasets for benchmarking</li>
<li>Checkpointing</li>
<ul><li>Cori and Edison do not have long queues, so if you run jobs that regularly exceed 36 h, you may want to integrate checkpointing into your workflow, allowing you to restart a job where it left off.</li>
</ul><li>What does a new SLURM queue structure on Genepool need to be to accommodate your pipeline?</li>
<ul><li>And/or can we adapt you to a Cori-like queue structure?</li>
</ul></ul></div></div></section>
        
        
    </div>
</div>



            </div>
            <!--googleoff: snippet--><!--googleoff: index-->
            <div class="footer">
                
<div class="LastEdited">Last edited: 2019-02-06 15:50:04</div>

<div class="footer-wrapper">
        <div class="badges">
            <a href="http://www.lbl.gov/"><img src="themes/nersc-sass/images/berkeley-lab-badge.png" /></a>
            <a href="http://science.energy.gov/"><img src="themes/nersc-sass/images/doe-badge.png" /></a>
        </div>
        
        <ul class="footer-links">
            
                <li><a href="/users/accounts/user-accounts/acknowledge-nersc/">Acknowledge NERSC</a></li>
            
                <li><a href="/about/contact-us/">Contact us</a></li>
            
                <li><a href="http://www.lbl.gov/Disclaimers.html">Privacy and Security Notice</a></li>
            
            
        </ul>
        
</div>



            </div>
        </div>
    </div>

<script type="text/javascript" src="/framework/thirdparty/jquery/jquery.min.js?m=1462921760"></script><script type="text/javascript" src="/mysite/javascript/no-console.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.beautyOfCode.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/dataTables-1.7/media/js/jquery.dataTables.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/shadowbox-3.0.3/shadowbox.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.metadata.2.0/jquery.metadata.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.media.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.oembed.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.cycle/jquery.cycle.all.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.bookmark.package-1.4.0/jquery.bookmark.min.js?m=1486417999"></script><script type="text/javascript" src="/themes/nersc-sass/javascript/jquery-ui-1.8.7.custom/js/jquery-ui-1.8.7.custom.min.js?m=1486417982"></script><script type="text/javascript" src="/mysite/javascript/jquery.expander/jquery.expander.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/core.js?m=1486417999"></script><script type="text/javascript" src="/themes/nersc-sass/javascript/theme-core.js?m=1486417982"></script></body>
</html>
