    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Genepool Training and Tutorials</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                
                <p>This is a summary page for the trainings and tutorial sessions that have been given at the JGI.  </p>
<h2>Recordings of talks <a href="https://drive.google.com/open?id=13YCqGX1_XF9Qd2v9bXESz9-HAuX1x-Xd">can be found at this link</a>.</h2>
                </div>
                
            
