    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Genepool Time Heatmaps</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                
                <p><span id="Form_EditForm_QueryCode" class="readonly "><link rel="stylesheet" href="https://nersc.gov/REST/reports/heatmaps/css/heatmap.css"><div><table id="heatmap" class="graph" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr style=";"><th class="titleRow" style="; text-align:center" colspan="12"> Heatmap of Time and Slots Requested vs Time Waited (in hours) | Queue: All | Last 7 Days</th></tr><tr style=";"><th style=";"> </th><th style="; text-align:left" colspan="9"> Time Requested</th><th style="; text-align:left" colspan="2"> </th></tr><tr><th style=";">Slots</th>
<th style=";">&lt;1h</th><th style=";">1-2h</th><th style=";">2-6h</th><th style=";">6-12h</th><th style=";">12-24h</th><th style=";">24-36h</th><th style=";">36-48h</th><th style=";">48h-1wk</th><th style=";">&gt;1wk</th><th style=";">Job Count</th><th style=";">Longest Wait</th></tr><tr><th class="inverse"><b>1</b></th><td style="background-color:rgb(203,251,199);">23.0 (233)</td><td style="background-color:rgb(71,127,153);">0.37 (1819)</td><td style="background-color:rgb(255,242,185);">27.54 (49888)</td><td style="background-color:rgb(183,255,206);">5.85 (124593)</td><td style="background-color:rgb(76,138,156);">1.23 (39835)</td><td style="background-color:rgb(71,127,153);">0.34 (732)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.4 (224)</td><td style="background-color:rgb(71,127,153);">0.02 (1)</td><th class="info" style=";">217325</th><th class="info" style=";">538.96</th></tr><tr><th class="inverse"><b>2</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (19)</td><td style="background-color:rgb(110,204,179);">2.54 (78)</td><td style="background-color:rgb(71,127,153);">0.2 (140)</td><td style="background-color:rgb(71,127,153);">0.99 (2683)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">2920</th><th class="info" style=";">9.1</th></tr><tr><th class="inverse"><b>4</b></th><td style="background-color:rgb(71,127,153);">0.08 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(110,204,179);">2.82 (141)</td><td style="background-color:rgb(71,127,153);">0.36 (143)</td><td style="background-color:rgb(73,130,154);">1.07 (12)</td><td style="background-color:rgb(71,127,153);">0.06 (5)</td><td style="background-color:rgb(71,127,153);">0.01 (5)</td><td style="background-color:rgb(71,127,153);">0.06 (1)</td><td style="background-color:rgb(78,141,157);">1.3 (5)</td><th class="info" style=";">313</th><th class="info" style=";">20.48</th></tr><tr><th class="inverse"><b>6</b></th><td style="background-color:rgb(71,127,153);">0.01 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.09 (32)</td><td style="background-color:rgb(71,127,153);">0.07 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">35</th><th class="info" style=";">1.22</th></tr><tr><th class="inverse"><b>8</b></th><td style="background-color:rgb(71,127,153);">0.04 (24)</td><td style="background-color:rgb(114,207,180);">4.32 (7423)</td><td style="background-color:rgb(183,255,206);">5.31 (1999)</td><td style="background-color:rgb(71,127,153);">0.53 (316)</td><td style="background-color:rgb(183,255,206);">13.14 (2486)</td><td style="background-color:rgb(71,127,153);">0.01 (2)</td><td style="background-color:rgb(76,137,156);">1.21 (88)</td><td style="background-color:rgb(78,141,157);">1.3 (34)</td><td style="background-color:rgb(183,255,206);">8.33 (68)</td><th class="info" style=";">12440</th><th class="info" style=";">46.16</th></tr><tr><th class="inverse"><b>10</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">8.56 (1)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">8.56</th></tr><tr><th class="inverse"><b>16</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.03 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.03</th></tr><tr><th class="inverse"><b>24</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><th class="info" style=";">1</th><th class="info" style=";">0.01</th></tr><tr><th class="inverse"><b>32</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.04 (14)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (6)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">20</th><th class="info" style=";">0.26</th></tr><tr><th style=";">Job Count</th>
<th class="info" style="">260</th><th class="info" style="">9261</th><th class="info" style="">52138</th><th class="info" style="">125208</th><th class="info" style="">45016</th><th class="info" style="">739</th><th class="info" style="">93</th><th class="info" style="">266</th><th class="info" style="">75</th><th class="info" style="">233056</th><th class="info" style=""> </th></tr><tr><th style=";">Longest Wait</th>
<th class="info" style="">144.54</th><th class="info" style="">12.04</th><th class="info" style="">29.68</th><th class="info" style="">538.96</th><th class="info" style="">46.16</th><th class="info" style="">7.62</th><th class="info" style="">5.1</th><th class="info" style="">24.7</th><th class="info" style="">18.69</th><th class="info" style=""> </th><th class="info" style="">538.96</th></tr></table></div><br><br><div><table id="heatmap" class="graph" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr style=";"><th class="titleRow" style="; text-align:center" colspan="12"> Heatmap of Time and Slots Requested vs Time Waited (in hours) | Queue: normal.q | Last 7 Days</th></tr><tr style=";"><th style=";"> </th><th style="; text-align:left" colspan="9"> Time Requested</th><th style="; text-align:left" colspan="2"> </th></tr><tr><th style=";">Slots</th>
<th style=";">&lt;1h</th><th style=";">1-2h</th><th style=";">2-6h</th><th style=";">6-12h</th><th style=";">12-24h</th><th style=";">24-36h</th><th style=";">36-48h</th><th style=";">48h-1wk</th><th style=";">&gt;1wk</th><th style=";">Job Count</th><th style=";">Longest Wait</th></tr><tr><th class="inverse"><b>1</b></th><td style="background-color:rgb(183,255,206);">10.47 (93)</td><td style="background-color:rgb(77,139,157);">1.24 (465)</td><td style="background-color:rgb(255,242,185);">27.7 (49565)</td><td style="background-color:rgb(183,255,206);">5.85 (124561)</td><td style="background-color:rgb(76,138,156);">1.23 (39693)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">214377</th><th class="info" style=";">538.96</th></tr><tr><th class="inverse"><b>2</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (15)</td><td style="background-color:rgb(110,204,179);">2.54 (78)</td><td style="background-color:rgb(71,127,153);">0.2 (138)</td><td style="background-color:rgb(71,127,153);">0.99 (2682)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">2913</th><th class="info" style=";">9.1</th></tr><tr><th class="inverse"><b>4</b></th><td style="background-color:rgb(71,127,153);">0.08 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(110,204,179);">2.84 (140)</td><td style="background-color:rgb(71,127,153);">0.36 (143)</td><td style="background-color:rgb(78,141,157);">1.29 (10)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">294</th><th class="info" style=";">20.48</th></tr><tr><th class="inverse"><b>6</b></th><td style="background-color:rgb(71,127,153);">0.01 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.09 (32)</td><td style="background-color:rgb(71,127,153);">0.07 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">35</th><th class="info" style=";">1.22</th></tr><tr><th class="inverse"><b>8</b></th><td style="background-color:rgb(71,127,153);">0.06 (7)</td><td style="background-color:rgb(114,207,180);">4.32 (7422)</td><td style="background-color:rgb(183,255,206);">5.31 (1997)</td><td style="background-color:rgb(71,127,153);">0.54 (306)</td><td style="background-color:rgb(183,255,206);">13.19 (2475)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">12207</th><th class="info" style=";">46.16</th></tr><tr><th class="inverse"><b>16</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.03 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.03</th></tr><tr><th class="inverse"><b>32</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.04 (14)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">14</th><th class="info" style=";">0.26</th></tr><tr><th style=";">Job Count</th>
<th class="info" style="">103</th><th class="info" style="">7902</th><th class="info" style="">51812</th><th class="info" style="">125164</th><th class="info" style="">44860</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">229841</th><th class="info" style=""> </th></tr><tr><th style=";">Longest Wait</th>
<th class="info" style="">144.54</th><th class="info" style="">12.04</th><th class="info" style="">29.68</th><th class="info" style="">538.96</th><th class="info" style="">46.16</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style=""> </th><th class="info" style="">538.96</th></tr></table></div><br><br><div><table id="heatmap" class="graph" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr style=";"><th class="titleRow" style="; text-align:center" colspan="12"> Heatmap of Time and Slots Requested vs Time Waited (in hours) | Queue: long.q | Last 7 Days</th></tr><tr style=";"><th style=";"> </th><th style="; text-align:left" colspan="9"> Time Requested</th><th style="; text-align:left" colspan="2"> </th></tr><tr><th style=";">Slots</th>
<th style=";">&lt;1h</th><th style=";">1-2h</th><th style=";">2-6h</th><th style=";">6-12h</th><th style=";">12-24h</th><th style=";">24-36h</th><th style=";">36-48h</th><th style=";">48h-1wk</th><th style=";">&gt;1wk</th><th style=";">Job Count</th><th style=";">Longest Wait</th></tr><tr><th class="inverse"><b>1</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.33 (139)</td><td style="background-color:rgb(71,127,153);">0.34 (732)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.4 (224)</td><td style="background-color:rgb(71,127,153);">0.02 (1)</td><th class="info" style=";">1096</th><th class="info" style=";">7.62</th></tr><tr><th class="inverse"><b>4</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.3 (1)</td><td style="background-color:rgb(71,127,153);">0.01 (5)</td><td style="background-color:rgb(71,127,153);">0.06 (1)</td><td style="background-color:rgb(78,141,157);">1.3 (5)</td><th class="info" style=";">12</th><th class="info" style=";">5.03</th></tr><tr><th class="inverse"><b>8</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">1.0 (8)</td><td style="background-color:rgb(71,127,153);">0.01 (2)</td><td style="background-color:rgb(76,138,156);">1.22 (87)</td><td style="background-color:rgb(78,141,157);">1.3 (34)</td><td style="background-color:rgb(183,255,206);">8.33 (68)</td><th class="info" style=";">199</th><th class="info" style=";">24.7</th></tr><tr><th class="inverse"><b>10</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">8.56 (1)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">8.56</th></tr><tr><th class="inverse"><b>24</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><th class="info" style=";">1</th><th class="info" style=";">0.01</th></tr><tr><th class="inverse"><b>32</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (6)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">6</th><th class="info" style=";">0.02</th></tr><tr><th style=";">Job Count</th>
<th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">147</th><th class="info" style="">735</th><th class="info" style="">92</th><th class="info" style="">266</th><th class="info" style="">75</th><th class="info" style="">1315</th><th class="info" style=""> </th></tr><tr><th style=";">Longest Wait</th>
<th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">4.01</th><th class="info" style="">7.62</th><th class="info" style="">5.1</th><th class="info" style="">24.7</th><th class="info" style="">18.69</th><th class="info" style=""> </th><th class="info" style="">24.7</th></tr></table></div><br><br><div><table id="heatmap" class="graph" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr style=";"><th class="titleRow" style="; text-align:center" colspan="12"> Heatmap of Time and Slots Requested vs Time Waited (in hours) | Queue: All | Last 30 Days</th></tr><tr style=";"><th style=";"> </th><th style="; text-align:left" colspan="9"> Time Requested</th><th style="; text-align:left" colspan="2"> </th></tr><tr><th style=";">Slots</th>
<th style=";">&lt;1h</th><th style=";">1-2h</th><th style=";">2-6h</th><th style=";">6-12h</th><th style=";">12-24h</th><th style=";">24-36h</th><th style=";">36-48h</th><th style=";">48h-1wk</th><th style=";">&gt;1wk</th><th style=";">Job Count</th><th style=";">Longest Wait</th></tr><tr><th class="inverse"><b>1</b></th><td style="background-color:rgb(110,204,179);">1.95 (11002)</td><td style="background-color:rgb(71,127,153);">0.26 (15834)</td><td style="background-color:rgb(183,255,206);">11.35 (169237)</td><td style="background-color:rgb(183,255,206);">9.81 (815328)</td><td style="background-color:rgb(183,255,206);">5.7 (184099)</td><td style="background-color:rgb(71,127,153);">0.36 (8399)</td><td style="background-color:rgb(71,127,153);">0.6 (153)</td><td style="background-color:rgb(189,253,204);">17.42 (22905)</td><td style="background-color:rgb(71,127,153);">0.01 (41)</td><th class="info" style=";">1226998</th><th class="info" style=";">643.98</th></tr><tr><th class="inverse"><b>2</b></th><td style="background-color:rgb(71,127,153);">0.02 (399)</td><td style="background-color:rgb(71,127,153);">0.12 (575)</td><td style="background-color:rgb(110,204,179);">2.88 (1896)</td><td style="background-color:rgb(71,127,153);">0.65 (10709)</td><td style="background-color:rgb(71,127,153);">0.43 (7463)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.24 (5)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">21047</th><th class="info" style=";">11.97</th></tr><tr><th class="inverse"><b>3</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (686)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (118)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">804</th><th class="info" style=";">0.47</th></tr><tr><th class="inverse"><b>4</b></th><td style="background-color:rgb(71,127,153);">0.08 (1)</td><td style="background-color:rgb(71,127,153);">0.24 (4)</td><td style="background-color:rgb(71,127,153);">0.84 (696)</td><td style="background-color:rgb(190,253,203);">17.9 (28595)</td><td style="background-color:rgb(71,127,153);">0.86 (3699)</td><td style="background-color:rgb(71,127,153);">0.04 (100)</td><td style="background-color:rgb(71,127,153);">0.01 (16)</td><td style="background-color:rgb(110,204,179);">2.65 (16)</td><td style="background-color:rgb(183,255,206);">8.91 (29)</td><th class="info" style=";">33156</th><th class="info" style=";">75.13</th></tr><tr><th class="inverse"><b>6</b></th><td style="background-color:rgb(71,127,153);">0.01 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.07 (59)</td><td style="background-color:rgb(71,127,153);">0.02 (4)</td><td style="background-color:rgb(71,127,153);">0.4 (51)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">116</th><th class="info" style=";">2.26</th></tr><tr><th class="inverse"><b>8</b></th><td style="background-color:rgb(71,127,153);">0.08 (86)</td><td style="background-color:rgb(110,204,179);">3.68 (10140)</td><td style="background-color:rgb(118,210,182);">4.63 (2324)</td><td style="background-color:rgb(71,127,153);">0.91 (1569)</td><td style="background-color:rgb(183,255,206);">7.64 (4436)</td><td style="background-color:rgb(71,127,153);">0.8 (195)</td><td style="background-color:rgb(183,255,206);">11.32 (1145)</td><td style="background-color:rgb(183,255,206);">10.26 (143)</td><td style="background-color:rgb(255,242,185);">35.44 (256)</td><th class="info" style=";">20294</th><th class="info" style=";">283.18</th></tr><tr><th class="inverse"><b>10</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.15 (14)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(186,254,205);">16.46 (7)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">21</th><th class="info" style=";">34.81</th></tr><tr><th class="inverse"><b>16</b></th><td style="background-color:rgb(71,127,153);">0.22 (10)</td><td style="background-color:rgb(71,127,153);">0.0 (25)</td><td style="background-color:rgb(86,157,163);">1.71 (4)</td><td style="background-color:rgb(183,255,206);">9.7 (6)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">45</th><th class="info" style=";">23.73</th></tr><tr><th class="inverse"><b>24</b></th><td style="background-color:rgb(71,127,153);">0.68 (61)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (10)</td><td style="background-color:rgb(110,204,179);">2.56 (32)</td><th class="info" style=";">105</th><th class="info" style=";">21.45</th></tr><tr><th class="inverse"><b>30</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">9.56 (3)</td><td style="background-color:rgb(213,127,111);">187.59 (1)</td><th class="info" style=";">4</th><th class="info" style=";">187.59</th></tr><tr><th class="inverse"><b>32</b></th><td style="background-color:rgb(110,204,179);">2.16 (36)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">11.45 (169)</td><td style="background-color:rgb(183,255,206);">12.43 (72)</td><td style="background-color:rgb(81,148,160);">1.46 (11)</td><td style="background-color:rgb(250,230,177);">68.15 (1)</td><td style="background-color:rgb(71,127,153);">0.23 (9)</td><td style="background-color:rgb(199,252,201);">21.18 (13)</td><th class="info" style=";">311</th><th class="info" style=";">80.71</th></tr><tr><th class="inverse"><b>40</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.03 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">2</th><th class="info" style=";">0.05</th></tr><tr><th class="inverse"><b>64</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.01</th></tr><tr><th class="inverse"><b>80</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(110,204,179);">2.72 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">2</th><th class="info" style=";">5.42</th></tr><tr><th class="inverse"><b>128</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.01</th></tr><tr><th style=";">Job Count</th>
<th class="info" style="">11597</th><th class="info" style="">26578</th><th class="info" style="">174232</th><th class="info" style="">856382</th><th class="info" style="">200510</th><th class="info" style="">8705</th><th class="info" style="">1315</th><th class="info" style="">23216</th><th class="info" style="">372</th><th class="info" style="">1302907</th><th class="info" style=""> </th></tr><tr><th style=";">Longest Wait</th>
<th class="info" style="">357.71</th><th class="info" style="">37.48</th><th class="info" style="">29.68</th><th class="info" style="">643.98</th><th class="info" style="">157.96</th><th class="info" style="">20.51</th><th class="info" style="">71.69</th><th class="info" style="">100.42</th><th class="info" style="">283.18</th><th class="info" style=""> </th><th class="info" style="">643.98</th></tr></table></div><br><br><div><table id="heatmap" class="graph" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr style=";"><th class="titleRow" style="; text-align:center" colspan="12"> Heatmap of Time and Slots Requested vs Time Waited (in hours) | Queue: normal.q | Last 30 Days</th></tr><tr style=";"><th style=";"> </th><th style="; text-align:left" colspan="9"> Time Requested</th><th style="; text-align:left" colspan="2"> </th></tr><tr><th style=";">Slots</th>
<th style=";">&lt;1h</th><th style=";">1-2h</th><th style=";">2-6h</th><th style=";">6-12h</th><th style=";">12-24h</th><th style=";">24-36h</th><th style=";">36-48h</th><th style=";">48h-1wk</th><th style=";">&gt;1wk</th><th style=";">Job Count</th><th style=";">Longest Wait</th></tr><tr><th class="inverse"><b>1</b></th><td style="background-color:rgb(86,157,163);">1.72 (9413)</td><td style="background-color:rgb(71,127,153);">0.43 (4875)</td><td style="background-color:rgb(183,255,206);">11.76 (163131)</td><td style="background-color:rgb(183,255,206);">9.75 (815037)</td><td style="background-color:rgb(183,255,206);">6.05 (172748)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1165205</th><th class="info" style=";">643.98</th></tr><tr><th class="inverse"><b>2</b></th><td style="background-color:rgb(71,127,153);">0.02 (399)</td><td style="background-color:rgb(71,127,153);">0.12 (571)</td><td style="background-color:rgb(110,204,179);">2.88 (1896)</td><td style="background-color:rgb(71,127,153);">0.65 (10706)</td><td style="background-color:rgb(71,127,153);">0.44 (7380)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">20952</th><th class="info" style=";">11.97</th></tr><tr><th class="inverse"><b>3</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (686)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">686</th><th class="info" style=";">0.37</th></tr><tr><th class="inverse"><b>4</b></th><td style="background-color:rgb(71,127,153);">0.08 (1)</td><td style="background-color:rgb(71,127,153);">0.24 (4)</td><td style="background-color:rgb(71,127,153);">0.84 (695)</td><td style="background-color:rgb(190,253,203);">17.91 (28596)</td><td style="background-color:rgb(71,127,153);">0.86 (3690)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">32986</th><th class="info" style=";">55.66</th></tr><tr><th class="inverse"><b>6</b></th><td style="background-color:rgb(71,127,153);">0.01 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.07 (59)</td><td style="background-color:rgb(71,127,153);">0.02 (4)</td><td style="background-color:rgb(71,127,153);">0.4 (51)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">116</th><th class="info" style=";">2.26</th></tr><tr><th class="inverse"><b>8</b></th><td style="background-color:rgb(71,127,153);">0.06 (7)</td><td style="background-color:rgb(110,204,179);">3.68 (10134)</td><td style="background-color:rgb(119,210,182);">4.66 (2307)</td><td style="background-color:rgb(71,127,153);">0.87 (1548)</td><td style="background-color:rgb(183,255,206);">8.15 (4111)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">18107</th><th class="info" style=";">56.49</th></tr><tr><th class="inverse"><b>10</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.15 (14)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">14</th><th class="info" style=";">2.0</th></tr><tr><th class="inverse"><b>16</b></th><td style="background-color:rgb(71,127,153);">0.16 (8)</td><td style="background-color:rgb(71,127,153);">0.0 (25)</td><td style="background-color:rgb(86,157,163);">1.71 (4)</td><td style="background-color:rgb(183,255,206);">9.7 (6)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">43</th><th class="info" style=";">23.73</th></tr><tr><th class="inverse"><b>24</b></th><td style="background-color:rgb(71,127,153);">0.68 (61)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">63</th><th class="info" style=";">2.75</th></tr><tr><th class="inverse"><b>32</b></th><td style="background-color:rgb(110,204,179);">2.16 (36)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">11.45 (169)</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">206</th><th class="info" style=";">73.98</th></tr><tr><th class="inverse"><b>40</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.03 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">2</th><th class="info" style=";">0.05</th></tr><tr><th class="inverse"><b>64</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.01</th></tr><tr><th class="inverse"><b>80</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.02 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.02</th></tr><tr><th class="inverse"><b>128</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.01</th></tr><tr><th style=";">Job Count</th>
<th class="info" style="">9927</th><th class="info" style="">15609</th><th class="info" style="">168108</th><th class="info" style="">856068</th><th class="info" style="">188670</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">1</th><th class="info" style="">0</th><th class="info" style="">1238383</th><th class="info" style=""> </th></tr><tr><th style=";">Longest Wait</th>
<th class="info" style="">357.71</th><th class="info" style="">37.48</th><th class="info" style="">29.68</th><th class="info" style="">643.98</th><th class="info" style="">157.96</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.01</th><th class="info" style="">0.0</th><th class="info" style=""> </th><th class="info" style="">643.98</th></tr></table></div><br><br><div><table id="heatmap" class="graph" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr style=";"><th class="titleRow" style="; text-align:center" colspan="12"> Heatmap of Time and Slots Requested vs Time Waited (in hours) | Queue: long.q | Last 30 Days</th></tr><tr style=";"><th style=";"> </th><th style="; text-align:left" colspan="9"> Time Requested</th><th style="; text-align:left" colspan="2"> </th></tr><tr><th style=";">Slots</th>
<th style=";">&lt;1h</th><th style=";">1-2h</th><th style=";">2-6h</th><th style=";">6-12h</th><th style=";">12-24h</th><th style=";">24-36h</th><th style=";">36-48h</th><th style=";">48h-1wk</th><th style=";">&gt;1wk</th><th style=";">Job Count</th><th style=";">Longest Wait</th></tr><tr><th class="inverse"><b>1</b></th><td style="background-color:rgb(246,217,169);">77.47 (5)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.33 (11129)</td><td style="background-color:rgb(71,127,153);">0.36 (8397)</td><td style="background-color:rgb(71,127,153);">0.6 (153)</td><td style="background-color:rgb(189,253,204);">17.43 (22895)</td><td style="background-color:rgb(71,127,153);">0.01 (41)</td><th class="info" style=";">42620</th><th class="info" style=";">124.26</th></tr><tr><th class="inverse"><b>2</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.24 (5)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">5</th><th class="info" style=";">0.99</th></tr><tr><th class="inverse"><b>3</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (118)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">118</th><th class="info" style=";">0.47</th></tr><tr><th class="inverse"><b>4</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.4 (6)</td><td style="background-color:rgb(71,127,153);">0.04 (96)</td><td style="background-color:rgb(71,127,153);">0.01 (16)</td><td style="background-color:rgb(110,204,179);">2.65 (16)</td><td style="background-color:rgb(183,255,206);">8.91 (29)</td><th class="info" style=";">163</th><th class="info" style=";">75.13</th></tr><tr><th class="inverse"><b>8</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(205,250,199);">23.8 (3)</td><td style="background-color:rgb(110,204,179);">1.81 (102)</td><td style="background-color:rgb(71,127,153);">0.85 (179)</td><td style="background-color:rgb(183,255,206);">11.38 (1137)</td><td style="background-color:rgb(183,255,206);">10.56 (139)</td><td style="background-color:rgb(255,242,185);">35.65 (254)</td><th class="info" style=";">1814</th><th class="info" style=";">283.18</th></tr><tr><th class="inverse"><b>10</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(186,254,205);">16.46 (7)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">7</th><th class="info" style=";">34.81</th></tr><tr><th class="inverse"><b>24</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (10)</td><td style="background-color:rgb(110,204,179);">2.56 (32)</td><th class="info" style=";">42</th><th class="info" style=";">21.45</th></tr><tr><th class="inverse"><b>30</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">9.56 (3)</td><td style="background-color:rgb(213,127,111);">187.59 (1)</td><th class="info" style=";">4</th><th class="info" style=";">187.59</th></tr><tr><th class="inverse"><b>32</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">12.6 (71)</td><td style="background-color:rgb(81,148,160);">1.46 (11)</td><td style="background-color:rgb(250,230,177);">68.15 (1)</td><td style="background-color:rgb(71,127,153);">0.23 (9)</td><td style="background-color:rgb(199,252,201);">21.18 (13)</td><th class="info" style=";">105</th><th class="info" style=";">80.71</th></tr><tr><th class="inverse"><b>80</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">5.42 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">5.42</th></tr><tr><th style=";">Job Count</th>
<th class="info" style="">5</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">3</th><th class="info" style="">11309</th><th class="info" style="">8683</th><th class="info" style="">1307</th><th class="info" style="">23202</th><th class="info" style="">370</th><th class="info" style="">44879</th><th class="info" style=""> </th></tr><tr><th style=";">Longest Wait</th>
<th class="info" style="">124.26</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">23.81</th><th class="info" style="">52.42</th><th class="info" style="">20.51</th><th class="info" style="">71.69</th><th class="info" style="">100.42</th><th class="info" style="">283.18</th><th class="info" style=""> </th><th class="info" style="">283.18</th></tr></table></div><br><br></span></p>
                </div>
                
            
