    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Genepool Memory Heatmaps</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                
                <p><span id="Form_EditForm_QueryCode" class="readonly "><link rel="stylesheet" href="https://nersc.gov/REST/reports/heatmaps/css/heatmap.css"><div><table id="heatmap" class="graph" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr style=";"><th class="titleRow" style="; text-align:center" colspan="15"> Heatmap of Memory and Slots Requested vs Time Waited (in hours) | Queue: All | Last 7 Days</th></tr><tr style=";"><th style=";"> </th><th style="; text-align:left" colspan="12"> Memory Requested</th><th style="; text-align:left" colspan="2"> </th></tr><tr><th style=";">Slots</th>
<th style=";">&lt;5GB</th><th style=";">5-10GB</th><th style=";">10-20GB</th><th style=";">20-30GB</th><th style=";">30-40GB</th><th style=";">40-50GB</th><th style=";">50-100GB</th><th style=";">100-150GB</th><th style=";">150-200GB</th><th style=";">200-256GB</th><th style=";">256-512GB</th><th style=";">512+GB</th><th style=";">Job Count</th><th style=";">Longest Wait</th></tr><tr><th class="inverse"><b>1</b></th><td style="background-color:rgb(110,204,179);">2.26 (2693)</td><td style="background-color:rgb(183,255,206);">10.5 (201167)</td><td style="background-color:rgb(110,204,179);">3.2 (11650)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(110,204,179);">1.75 (282)</td><td style="background-color:rgb(82,149,160);">1.49 (1627)</td><td style="background-color:rgb(71,127,153);">0.03 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">217420</th><th class="info" style=";">538.96</th></tr><tr><th class="inverse"><b>2</b></th><td style="background-color:rgb(71,127,153);">0.26 (103)</td><td style="background-color:rgb(71,127,153);">1.02 (2817)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">2920</th><th class="info" style=";">9.1</th></tr><tr><th class="inverse"><b>4</b></th><td style="background-color:rgb(83,151,161);">1.55 (198)</td><td style="background-color:rgb(82,148,160);">1.48 (104)</td><td style="background-color:rgb(71,127,153);">0.34 (8)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(110,204,179);">1.86 (3)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">313</th><th class="info" style=";">20.48</th></tr><tr><th class="inverse"><b>6</b></th><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0.09 (34)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">35</th><th class="info" style=";">1.22</th></tr><tr><th class="inverse"><b>8</b></th><td style="background-color:rgb(71,127,153);">0.34 (37)</td><td style="background-color:rgb(183,255,206);">6.15 (12376)</td><td style="background-color:rgb(71,127,153);">1.01 (17)</td><td style="background-color:rgb(207,250,198);">24.7 (1)</td><td style="background-color:rgb(71,127,153);">0.03 (3)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.02 (6)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">12440</th><th class="info" style=";">46.16</th></tr><tr><th class="inverse"><b>10</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">8.56 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">8.56</th></tr><tr><th class="inverse"><b>16</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.03 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.03</th></tr><tr><th class="inverse"><b>24</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.01</th></tr><tr><th class="inverse"><b>32</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (4)</td><td style="background-color:rgb(71,127,153);">0.05 (9)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (6)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.0 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">20</th><th class="info" style=";">0.26</th></tr><tr><th style=";">Job Count</th>
<th class="info" style="">3032</th><th class="info" style="">216504</th><th class="info" style="">11685</th><th class="info" style="">1</th><th class="info" style="">291</th><th class="info" style="">1627</th><th class="info" style="">11</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">233151</th><th class="info" style=""> </th></tr><tr><th style=";">Longest Wait</th>
<th class="info" style="">144.54</th><th class="info" style="">538.96</th><th class="info" style="">529.41</th><th class="info" style="">24.7</th><th class="info" style="">2.44</th><th class="info" style="">8.21</th><th class="info" style="">5.03</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style=""> </th><th class="info" style="">538.96</th></tr></table></div><br><br><div><table id="heatmap" class="graph" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr style=";"><th class="titleRow" style="; text-align:center" colspan="15"> Heatmap of Memory and Slots Requested vs Time Waited (in hours) | Queue: normal.q | Last 7 Days</th></tr><tr style=";"><th style=";"> </th><th style="; text-align:left" colspan="12"> Memory Requested</th><th style="; text-align:left" colspan="2"> </th></tr><tr><th style=";">Slots</th>
<th style=";">&lt;5GB</th><th style=";">5-10GB</th><th style=";">10-20GB</th><th style=";">20-30GB</th><th style=";">30-40GB</th><th style=";">40-50GB</th><th style=";">50-100GB</th><th style=";">100-150GB</th><th style=";">150-200GB</th><th style=";">200-256GB</th><th style=";">256-512GB</th><th style=";">512+GB</th><th style=";">Job Count</th><th style=";">Longest Wait</th></tr><tr><th class="inverse"><b>1</b></th><td style="background-color:rgb(79,144,158);">1.36 (1191)</td><td style="background-color:rgb(183,255,206);">10.56 (199790)</td><td style="background-color:rgb(110,204,179);">3.2 (11650)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(110,204,179);">1.78 (267)</td><td style="background-color:rgb(84,153,161);">1.59 (1508)</td><td style="background-color:rgb(71,127,153);">0.03 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">214407</th><th class="info" style=";">538.96</th></tr><tr><th class="inverse"><b>2</b></th><td style="background-color:rgb(71,127,153);">0.27 (98)</td><td style="background-color:rgb(71,127,153);">1.02 (2815)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">2913</th><th class="info" style=";">9.1</th></tr><tr><th class="inverse"><b>4</b></th><td style="background-color:rgb(83,152,161);">1.56 (197)</td><td style="background-color:rgb(84,154,162);">1.62 (94)</td><td style="background-color:rgb(71,127,153);">0.91 (3)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">294</th><th class="info" style=";">20.48</th></tr><tr><th class="inverse"><b>6</b></th><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0.09 (34)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">35</th><th class="info" style=";">1.22</th></tr><tr><th class="inverse"><b>8</b></th><td style="background-color:rgb(71,127,153);">0.35 (31)</td><td style="background-color:rgb(183,255,206);">6.21 (12158)</td><td style="background-color:rgb(81,146,159);">1.43 (9)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.03 (3)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.02 (6)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">12207</th><th class="info" style=";">46.16</th></tr><tr><th class="inverse"><b>16</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.03 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.03</th></tr><tr><th class="inverse"><b>32</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.03 (1)</td><td style="background-color:rgb(71,127,153);">0.06 (7)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (6)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">14</th><th class="info" style=";">0.26</th></tr><tr><th style=";">Job Count</th>
<th class="info" style="">1518</th><th class="info" style="">214893</th><th class="info" style="">11669</th><th class="info" style="">0</th><th class="info" style="">276</th><th class="info" style="">1508</th><th class="info" style="">7</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">229871</th><th class="info" style=""> </th></tr><tr><th style=";">Longest Wait</th>
<th class="info" style="">144.54</th><th class="info" style="">538.96</th><th class="info" style="">529.41</th><th class="info" style="">0.0</th><th class="info" style="">2.44</th><th class="info" style="">8.21</th><th class="info" style="">0.03</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style=""> </th><th class="info" style="">538.96</th></tr></table></div><br><br><div><table id="heatmap" class="graph" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr style=";"><th class="titleRow" style="; text-align:center" colspan="15"> Heatmap of Memory and Slots Requested vs Time Waited (in hours) | Queue: long.q | Last 7 Days</th></tr><tr style=";"><th style=";"> </th><th style="; text-align:left" colspan="12"> Memory Requested</th><th style="; text-align:left" colspan="2"> </th></tr><tr><th style=";">Slots</th>
<th style=";">&lt;5GB</th><th style=";">5-10GB</th><th style=";">10-20GB</th><th style=";">20-30GB</th><th style=";">30-40GB</th><th style=";">40-50GB</th><th style=";">50-100GB</th><th style=";">100-150GB</th><th style=";">150-200GB</th><th style=";">200-256GB</th><th style=";">256-512GB</th><th style=";">512+GB</th><th style=";">Job Count</th><th style=";">Longest Wait</th></tr><tr><th class="inverse"><b>1</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.35 (964)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(79,144,158);">1.37 (15)</td><td style="background-color:rgb(71,127,153);">0.2 (117)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1096</th><th class="info" style=";">7.62</th></tr><tr><th class="inverse"><b>4</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.32 (4)</td><td style="background-color:rgb(71,127,153);">0.01 (5)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(110,204,179);">1.86 (3)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">12</th><th class="info" style=";">5.03</th></tr><tr><th class="inverse"><b>8</b></th><td style="background-color:rgb(71,127,153);">0.32 (6)</td><td style="background-color:rgb(110,204,179);">3.77 (184)</td><td style="background-color:rgb(71,127,153);">0.53 (8)</td><td style="background-color:rgb(207,250,198);">24.7 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">199</th><th class="info" style=";">24.7</th></tr><tr><th class="inverse"><b>10</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">8.56 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">8.56</th></tr><tr><th class="inverse"><b>24</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.01</th></tr><tr><th class="inverse"><b>32</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (3)</td><td style="background-color:rgb(71,127,153);">0.01 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.0 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">6</th><th class="info" style=";">0.02</th></tr><tr><th style=";">Job Count</th>
<th class="info" style="">6</th><th class="info" style="">1156</th><th class="info" style="">16</th><th class="info" style="">1</th><th class="info" style="">15</th><th class="info" style="">117</th><th class="info" style="">4</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">1315</th><th class="info" style=""> </th></tr><tr><th style=";">Longest Wait</th>
<th class="info" style="">1.69</th><th class="info" style="">18.69</th><th class="info" style="">4.24</th><th class="info" style="">24.7</th><th class="info" style="">1.93</th><th class="info" style="">1.2</th><th class="info" style="">5.03</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style=""> </th><th class="info" style="">24.7</th></tr></table></div><br><br><div><table id="heatmap" class="graph" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr style=";"><th class="titleRow" style="; text-align:center" colspan="15"> Heatmap of Memory and Slots Requested vs Time Waited (in hours) | Queue: All | Last 30 Days</th></tr><tr style=";"><th style=";"> </th><th style="; text-align:left" colspan="12"> Memory Requested</th><th style="; text-align:left" colspan="2"> </th></tr><tr><th style=";">Slots</th>
<th style=";">&lt;5GB</th><th style=";">5-10GB</th><th style=";">10-20GB</th><th style=";">20-30GB</th><th style=";">30-40GB</th><th style=";">40-50GB</th><th style=";">50-100GB</th><th style=";">100-150GB</th><th style=";">150-200GB</th><th style=";">200-256GB</th><th style=";">256-512GB</th><th style=";">512+GB</th><th style=";">Job Count</th><th style=";">Longest Wait</th></tr><tr><th class="inverse"><b>1</b></th><td style="background-color:rgb(75,134,155);">1.15 (41385)</td><td style="background-color:rgb(183,255,206);">9.5 (1111131)</td><td style="background-color:rgb(110,204,179);">3.03 (43635)</td><td style="background-color:rgb(183,255,206);">10.37 (8727)</td><td style="background-color:rgb(194,252,202);">19.44 (14153)</td><td style="background-color:rgb(110,204,179);">2.97 (3563)</td><td style="background-color:rgb(253,237,181);">63.91 (4421)</td><td style="background-color:rgb(200,251,200);">21.76 (35)</td><td style="background-color:rgb(71,127,153);">0.0 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.05 (3)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1227054</th><th class="info" style=";">643.98</th></tr><tr><th class="inverse"><b>2</b></th><td style="background-color:rgb(71,127,153);">0.64 (10836)</td><td style="background-color:rgb(71,127,153);">0.86 (10134)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.14 (64)</td><td style="background-color:rgb(71,127,153);">0.19 (14)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">21048</th><th class="info" style=";">11.97</th></tr><tr><th class="inverse"><b>3</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (804)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">804</th><th class="info" style=";">0.47</th></tr><tr><th class="inverse"><b>4</b></th><td style="background-color:rgb(110,204,179);">2.23 (4118)</td><td style="background-color:rgb(189,253,204);">17.47 (28993)</td><td style="background-color:rgb(71,127,153);">0.33 (20)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">11.92 (25)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">33156</th><th class="info" style=";">75.13</th></tr><tr><th class="inverse"><b>6</b></th><td style="background-color:rgb(71,127,153);">0.33 (48)</td><td style="background-color:rgb(71,127,153);">0.13 (68)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">116</th><th class="info" style=";">2.26</th></tr><tr><th class="inverse"><b>8</b></th><td style="background-color:rgb(123,213,183);">5.03 (249)</td><td style="background-color:rgb(183,255,206);">5.29 (19912)</td><td style="background-color:rgb(110,204,179);">2.53 (104)</td><td style="background-color:rgb(183,255,206);">12.39 (2)</td><td style="background-color:rgb(71,127,153);">0.03 (3)</td><td style="background-color:rgb(71,127,153);">0.02 (1)</td><td style="background-color:rgb(183,255,206);">6.49 (22)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">20293</th><th class="info" style=";">283.18</th></tr><tr><th class="inverse"><b>10</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.71 (15)</td><td style="background-color:rgb(190,253,203);">17.78 (6)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">21</th><th class="info" style=";">34.81</th></tr><tr><th class="inverse"><b>16</b></th><td style="background-color:rgb(71,127,153);">0.0 (25)</td><td style="background-color:rgb(71,127,153);">0.6 (15)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">11.63 (5)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">45</th><th class="info" style=";">23.73</th></tr><tr><th class="inverse"><b>24</b></th><td style="background-color:rgb(71,127,153);">0.7 (58)</td><td style="background-color:rgb(85,156,162);">1.69 (27)</td><td style="background-color:rgb(110,204,179);">1.88 (20)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">105</th><th class="info" style=";">21.45</th></tr><tr><th class="inverse"><b>30</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">9.56 (3)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(213,127,111);">187.59 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">4</th><th class="info" style=";">187.59</th></tr><tr><th class="inverse"><b>32</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(120,211,183);">4.83 (16)</td><td style="background-color:rgb(183,255,206);">9.12 (225)</td><td style="background-color:rgb(119,210,182);">4.67 (2)</td><td style="background-color:rgb(185,254,205);">16.36 (65)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(203,251,200);">22.72 (3)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">311</th><th class="info" style=";">80.71</th></tr><tr><th class="inverse"><b>40</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.03 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">2</th><th class="info" style=";">0.05</th></tr><tr><th class="inverse"><b>64</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.01</th></tr><tr><th class="inverse"><b>80</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(110,204,179);">2.72 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">2</th><th class="info" style=";">5.42</th></tr><tr><th class="inverse"><b>128</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.01</th></tr><tr><th style=";">Job Count</th>
<th class="info" style="">56719</th><th class="info" style="">1171122</th><th class="info" style="">44010</th><th class="info" style="">8732</th><th class="info" style="">14221</th><th class="info" style="">3630</th><th class="info" style="">4490</th><th class="info" style="">35</th><th class="info" style="">1</th><th class="info" style="">0</th><th class="info" style="">3</th><th class="info" style="">0</th><th class="info" style="">1302963</th><th class="info" style=""> </th></tr><tr><th style=";">Longest Wait</th>
<th class="info" style="">507.58</th><th class="info" style="">643.98</th><th class="info" style="">529.41</th><th class="info" style="">187.59</th><th class="info" style="">73.98</th><th class="info" style="">73.79</th><th class="info" style="">157.96</th><th class="info" style="">95.59</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.12</th><th class="info" style="">0.0</th><th class="info" style=""> </th><th class="info" style="">643.98</th></tr></table></div><br><br><div><table id="heatmap" class="graph" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr style=";"><th class="titleRow" style="; text-align:center" colspan="15"> Heatmap of Memory and Slots Requested vs Time Waited (in hours) | Queue: normal.q | Last 30 Days</th></tr><tr style=";"><th style=";"> </th><th style="; text-align:left" colspan="12"> Memory Requested</th><th style="; text-align:left" colspan="2"> </th></tr><tr><th style=";">Slots</th>
<th style=";">&lt;5GB</th><th style=";">5-10GB</th><th style=";">10-20GB</th><th style=";">20-30GB</th><th style=";">30-40GB</th><th style=";">40-50GB</th><th style=";">50-100GB</th><th style=";">100-150GB</th><th style=";">150-200GB</th><th style=";">200-256GB</th><th style=";">256-512GB</th><th style=";">512+GB</th><th style=";">Job Count</th><th style=";">Longest Wait</th></tr><tr><th class="inverse"><b>1</b></th><td style="background-color:rgb(71,127,153);">0.35 (28806)</td><td style="background-color:rgb(183,255,206);">9.66 (1077268)</td><td style="background-color:rgb(110,204,179);">3.08 (42524)</td><td style="background-color:rgb(183,255,206);">10.38 (8716)</td><td style="background-color:rgb(78,141,157);">1.29 (476)</td><td style="background-color:rgb(110,204,179);">2.81 (3175)</td><td style="background-color:rgb(253,236,181);">64.13 (4394)</td><td style="background-color:rgb(71,127,153);">0.09 (4)</td><td style="background-color:rgb(71,127,153);">0.0 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.06 (2)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1165366</th><th class="info" style=";">643.98</th></tr><tr><th class="inverse"><b>2</b></th><td style="background-color:rgb(71,127,153);">0.64 (10830)</td><td style="background-color:rgb(71,127,153);">0.87 (10044)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.14 (64)</td><td style="background-color:rgb(71,127,153);">0.19 (14)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">20952</th><th class="info" style=";">11.97</th></tr><tr><th class="inverse"><b>3</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (686)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">686</th><th class="info" style=";">0.37</th></tr><tr><th class="inverse"><b>4</b></th><td style="background-color:rgb(110,204,179);">2.29 (4019)</td><td style="background-color:rgb(189,253,204);">17.49 (28955)</td><td style="background-color:rgb(78,142,158);">1.31 (5)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">32979</th><th class="info" style=";">55.66</th></tr><tr><th class="inverse"><b>6</b></th><td style="background-color:rgb(71,127,153);">0.33 (48)</td><td style="background-color:rgb(71,127,153);">0.13 (68)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">116</th><th class="info" style=";">2.26</th></tr><tr><th class="inverse"><b>8</b></th><td style="background-color:rgb(71,127,153);">0.26 (91)</td><td style="background-color:rgb(118,209,182);">4.61 (17998)</td><td style="background-color:rgb(81,146,159);">1.43 (9)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.03 (3)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.02 (6)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">18107</th><th class="info" style=";">56.49</th></tr><tr><th class="inverse"><b>10</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.15 (14)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">14</th><th class="info" style=";">2.0</th></tr><tr><th class="inverse"><b>16</b></th><td style="background-color:rgb(71,127,153);">0.0 (25)</td><td style="background-color:rgb(71,127,153);">0.63 (13)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">11.63 (5)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">43</th><th class="info" style=";">23.73</th></tr><tr><th class="inverse"><b>24</b></th><td style="background-color:rgb(71,127,153);">0.71 (57)</td><td style="background-color:rgb(71,127,153);">0.2 (6)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">63</th><th class="info" style=";">2.75</th></tr><tr><th class="inverse"><b>32</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.03 (1)</td><td style="background-color:rgb(183,255,206);">6.55 (145)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(190,253,203);">18.03 (59)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">206</th><th class="info" style=";">73.98</th></tr><tr><th class="inverse"><b>40</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.03 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">2</th><th class="info" style=";">0.05</th></tr><tr><th class="inverse"><b>64</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.01</th></tr><tr><th class="inverse"><b>80</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.02 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.02</th></tr><tr><th class="inverse"><b>128</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">0.01</th></tr><tr><th style=";">Job Count</th>
<th class="info" style="">43876</th><th class="info" style="">1135056</th><th class="info" style="">42683</th><th class="info" style="">8716</th><th class="info" style="">538</th><th class="info" style="">3241</th><th class="info" style="">4420</th><th class="info" style="">4</th><th class="info" style="">1</th><th class="info" style="">0</th><th class="info" style="">2</th><th class="info" style="">0</th><th class="info" style="">1238537</th><th class="info" style=""> </th></tr><tr><th style=";">Longest Wait</th>
<th class="info" style="">357.71</th><th class="info" style="">643.98</th><th class="info" style="">529.41</th><th class="info" style="">21.39</th><th class="info" style="">73.98</th><th class="info" style="">73.79</th><th class="info" style="">157.96</th><th class="info" style="">0.13</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.12</th><th class="info" style="">0.0</th><th class="info" style=""> </th><th class="info" style="">643.98</th></tr></table></div><br><br><div><table id="heatmap" class="graph" bgcolor="#ffffff" cellpadding="0" cellspacing="0"><tr style=";"><th class="titleRow" style="; text-align:center" colspan="15"> Heatmap of Memory and Slots Requested vs Time Waited (in hours) | Queue: long.q | Last 30 Days</th></tr><tr style=";"><th style=";"> </th><th style="; text-align:left" colspan="12"> Memory Requested</th><th style="; text-align:left" colspan="2"> </th></tr><tr><th style=";">Slots</th>
<th style=";">&lt;5GB</th><th style=";">5-10GB</th><th style=";">10-20GB</th><th style=";">20-30GB</th><th style=";">30-40GB</th><th style=";">40-50GB</th><th style=";">50-100GB</th><th style=";">100-150GB</th><th style=";">150-200GB</th><th style=";">200-256GB</th><th style=";">256-512GB</th><th style=";">512+GB</th><th style=";">Job Count</th><th style=";">Longest Wait</th></tr><tr><th class="inverse"><b>1</b></th><td style="background-color:rgb(183,255,206);">8.07 (50)</td><td style="background-color:rgb(119,210,182);">4.66 (27419)</td><td style="background-color:rgb(71,127,153);">0.9 (1082)</td><td style="background-color:rgb(71,127,153);">0.34 (10)</td><td style="background-color:rgb(196,252,202);">20.08 (13671)</td><td style="background-color:rgb(119,210,182);">4.71 (347)</td><td style="background-color:rgb(183,255,206);">8.15 (12)</td><td style="background-color:rgb(255,242,185);">27.19 (28)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.02 (1)</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">42620</th><th class="info" style=";">124.26</th></tr><tr><th class="inverse"><b>2</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.24 (5)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">5</th><th class="info" style=";">0.99</th></tr><tr><th class="inverse"><b>3</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.01 (118)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">118</th><th class="info" style=";">0.47</th></tr><tr><th class="inverse"><b>4</b></th><td style="background-color:rgb(71,127,153);">0.03 (95)</td><td style="background-color:rgb(71,127,153);">0.19 (29)</td><td style="background-color:rgb(71,127,153);">0.01 (14)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">11.92 (25)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">163</th><th class="info" style=";">75.13</th></tr><tr><th class="inverse"><b>8</b></th><td style="background-color:rgb(183,255,206);">9.04 (134)</td><td style="background-color:rgb(183,255,206);">14.06 (1582)</td><td style="background-color:rgb(110,204,179);">3.13 (79)</td><td style="background-color:rgb(183,255,206);">12.39 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0.02 (1)</td><td style="background-color:rgb(183,255,206);">8.91 (16)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1814</th><th class="info" style=";">283.18</th></tr><tr><th class="inverse"><b>10</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">8.56 (1)</td><td style="background-color:rgb(190,253,203);">17.78 (6)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">7</th><th class="info" style=";">34.81</th></tr><tr><th class="inverse"><b>24</b></th><td style="background-color:rgb(71,127,153);">0.0 (1)</td><td style="background-color:rgb(110,204,179);">2.11 (21)</td><td style="background-color:rgb(110,204,179);">1.88 (20)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">42</th><th class="info" style=";">21.45</th></tr><tr><th class="inverse"><b>30</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">9.56 (3)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(213,127,111);">187.59 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">4</th><th class="info" style=";">187.59</th></tr><tr><th class="inverse"><b>32</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(124,213,184);">5.15 (15)</td><td style="background-color:rgb(183,255,206);">13.77 (80)</td><td style="background-color:rgb(119,210,182);">4.67 (2)</td><td style="background-color:rgb(71,127,153);">0.02 (6)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(255,242,185);">34.07 (2)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">105</th><th class="info" style=";">80.71</th></tr><tr><th class="inverse"><b>80</b></th><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(183,255,206);">5.42 (1)</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><td style="background-color:rgb(71,127,153);">0</td><th class="info" style=";">1</th><th class="info" style=";">5.42</th></tr><tr><th style=";">Job Count</th>
<th class="info" style="">280</th><th class="info" style="">29194</th><th class="info" style="">1281</th><th class="info" style="">15</th><th class="info" style="">13677</th><th class="info" style="">348</th><th class="info" style="">55</th><th class="info" style="">28</th><th class="info" style="">0</th><th class="info" style="">0</th><th class="info" style="">1</th><th class="info" style="">0</th><th class="info" style="">44879</th><th class="info" style=""> </th></tr><tr><th style=";">Longest Wait</th>
<th class="info" style="">124.26</th><th class="info" style="">283.18</th><th class="info" style="">80.97</th><th class="info" style="">187.59</th><th class="info" style="">73.01</th><th class="info" style="">20.51</th><th class="info" style="">93.67</th><th class="info" style="">95.59</th><th class="info" style="">0.0</th><th class="info" style="">0.0</th><th class="info" style="">0.02</th><th class="info" style="">0.0</th><th class="info" style=""> </th><th class="info" style="">283.18</th></tr></table></div><br><br></span></p>
                </div>
                
            
