    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Working with Modules within Perl and Python</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                    <!--googleoff: snippet--><!--googleoff: index-->

    <div class="show-toc"></div>

<!--googleon: snippet--><!--googleon: index-->

                
                
                <p>It can often be convenient to work with the modules system from within perl or python scripts.  You can do this!</p>
<h2>Using Modules within Python</h2>
<p>The EnvironmentModules python package gives access to the module system from within python.  The EnvironmentModules python package has a single function: module.  Using this function you can provide the same arguments you would to "module" on the command line.  The module() function accepts a list of arguments, like ['load','&lt;modulename&gt;']; or ['unload','&lt;modulename&gt;'].</p>
<pre class="code-plain">&gt;&gt;&gt; import EnvironmentModules as EnvMod
&gt;&gt;&gt; EnvMod.module(['load','blast+'])
</pre>
<p> <span style="font-size: 13px; line-height: 1.5em;">It is important to understand that this is most effective for scripts which execute other code (e.g. from the subprocess package of python), and not necessarily for loading additional packages for python to use.  This is because the python process is already running and changing its environment won't necessarily give expected results.  For example, changes to PYTHONPATH and LD_LIBRARY_PATH are not immediately accepted.  LD_LIBRARY_PATH is only evaluated at process start-up time, and won't be re-evaluated later.  Thus if you load any python packages which rely on dynamically linked C-code, you should load those modules before python (oracle_client, for example).</span></p>
<h3>Problem with LD_LIBRARY_PATH</h3>
<h4><strong>Wrong way</strong></h4>
<pre class="code-plain">&gt;&gt;&gt; EnvMod.module('load','oracle_client')
&gt;&gt;&gt; import cx_Oracle
Traceback (most recent call last):
  File "", line 1, in 
ImportError: libclntsh.so.11.1: cannot open shared object file: No such file or directory
&gt;&gt;&gt;
</pre>
<h4><strong>Right way</strong></h4>
<pre class="code-plain">genepool$ module load oracle_client
genepool$ python
Python 2.7.4 (default, Apr 17 2013, 10:26:13)
[GCC 4.6.3] on linux2
Type "help", "copyright", "credits" or "license" for more information.
&gt;&gt;&gt; import cx_Oracle
...
</pre>
<p>This is happening because the cx_Oracle python package relies on the dynamically linked library libclntsh.so.11.1, which is found by the operating system by setting the correct path in LD_LIBRARY_PATH. Since LD_LIBRARY_PATH is only evaluated when python starts, the oracle_client modulefile (which sets LD_LIBRARY_PATH for oracle), needs to be loaded <strong>before python is started</strong>.  For some applications, it may be easier to bootstrap the scripting session <a href="/users/computational-systems/genepool/user-environment/scriptenv-loading-modules-before-starting-a-script/">with a scriptEnv</a>.</p>
<h3>Workaround for PYTHONPATH</h3>
<p>The PYTHONPATH environment variable is set to sys.path when python starts.  There is an opportunity to adjust sys.path and still take advantage to changes to PYTHONPATH if you need this functionality:</p>
<pre class="code-plain">&gt;&gt;&gt; import os
&gt;&gt;&gt; import sys
&gt;&gt;&gt; import EnvironmentModules as EnvMod
&gt;&gt;&gt; EnvMod.module(['load','biopython'])
&gt;&gt;&gt; for x in os.getenv("PYTHONPATH").split(":"):
...   if x not in sys.path:
...     sys.path.append(x)
...
&gt;&gt;&gt; from Bio import SeqIO
...</pre>
<p> </p>
<h2>Using Modules within Perl</h2>
<p>The EnvironmentModules perl package gives access to the module system from within perl.  The EnvironmentModules perl package has a single function: module.  Using this function you can provide the same arguments you would to "module" on the command line.  The module() function accepts a single string or array representing the arguments you would pass to the module command line tool.  Note that EnvironmentModules.pm is only installed in the modules version of perl, and thus you need to load the perl module before you can access EnvironmentModules.pm.</p>
<pre class="code-plain">#!/usr/bin/env perl<br>use EnvironmentModules;<br><br><span style="font-family: &#039;andale mono&#039;, &#039;lucida console&#039;, monospace; font-size: 1em; font-style: normal; line-height: 1.5;">module("load blast+"); </span></pre>
<p>Please note that the similar to python, loading modules which manipulate LD_LIBRARY_PATH or PERL5DIR will not work as expected.  It is generally recommended to load the modules before entering into perl or python instances.</p>
<p>Another popular method, loading the module in system() immediately before running an executable should always be avoided.  This is not portable, and will only work if your users are using the bash shell:</p>
<pre class="code-plain">#!/usr/bin/env perl<br>...<br>### DO NOT DO THIS!<br><span style="font-family: &#039;andale mono&#039;, &#039;lucida console&#039;, monospace; font-size: 1em; font-style: normal; line-height: 1.5;">system("module load blast+; blastn ..."); ### DO NOT DO THAT<br>### REALLY, DO NOT DO THIS!<br></span></pre>
<p> When you call system(), perl forks it as "/bin/sh -c '&lt;your command'&gt;".  /bin/sh does not get a new module environment loaded, so, the instance of /bin/sh will be relying on the shell operating perl to get the module functionality.  It turns out that the module functionality provided by bash is correct for /bin/sh, but not the module functionality provided in tcsh or csh.  If you do the above, your code will only work for other bash users.  Instead, you should either load modules before running perl (a wrapper script -- preferred), or use the EnvironmentModules mechanism shown above.</p>
                </div>
                
            
