    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">scriptEnv - loading modules before starting a script</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                    <!--googleoff: snippet--><!--googleoff: index-->

    <div class="show-toc"></div>

<!--googleon: snippet--><!--googleon: index-->

                
                
                <p>In some cases a script needs to load modules before the script can be executed, but it can often be inconvenient or impossible to provide wrapper scripts which load the needed modules.  CGI scripts on the gpweb resources or in the NERSC portal environment which require the genepool-specific python/perl/R or databases configuration modules are a strong example of this.  NERSC provides the scriptEnv as a custom drop-in replacement for /usr/bin/env. </p>
<p>scriptEnv loads your selected modules to allow your scripts to run easily and reproducibly.  After constructing your scriptEnv, you only need replace the shebang line of your script to use your custom scriptEnv instead of /usr/bin/env.  scriptEnv can even be configured to work in a non-genepool environment (e.g., portal.nersc.gov, dtn).</p>
<h2>Custom scriptEnvs</h2>
<p>A scriptEnv is a compiled program which modifies the environment as if modules had been loaded, then starts a specfied interpreter (e.g., perl, python) with any specified flags.  This allows a script to bootstrap to the needed environment without needing a separate wrapper script.  This allows you to construct a script like:</p>
<pre class="code-python">#!/global/projectb/projectdirs/..../my_scriptEnv python3
import os
...</pre>
<p> The scriptEnv can then, for example, be compiled with a specific python/3* module, and you'll have surety that your script will execute in the proper environment - even if the script isn't executed on a genepool system.</p>
<p>Another feature of the scriptEnv system is that it can provide arguments to the intended interpreter.  This allows users to specify flags like "-w" or "-t" to perl:</p>
<pre class="code-perl">#!/global/projectb/projectdirs/..../my_scriptEnv perl -w
use strict;
...</pre>
<h2>Building a scriptEnv</h2>
<p>The python script "generate_scriptEnv.py" is used to create a new scriptEnv.  This python script calculates the effects on the environment of your desired modules, and then embeds those changes directly into the output scriptEnv executable.  The scriptEnv then only needs to be put into an appropriate place in the filesystem (recommend a projectb projectdir).</p>
<h4>Creating a scriptEnv</h4>
<pre class="code-shell">dmj@genepool02:~$ generate_scriptEnv.py oracleEnv python oracle_client \
Compiling scriptEnv
g++ -O3 oracleEnv.cc -static -o oracleEnv

Use /path/to/oracleEnv instead of /usr/bin/env in your shebang line.
For example:
#!/path/to/oracleEnv python
... script ...
dmj@genepool02:~$ ls -l oracleEnv*
-rwxr-xr-x 1 dmj dmj 4642568 Jun  9 11:25 oracleEnv
-rw------- 1 dmj dmj    3106 Jun  9 11:25 oracleEnv.cc
dmj@genepool02:~$</pre>
<p> The above example creates a scriptEnv called oracleEnv which embeds the python and oracle_client modules into it.  The two outputs are the binary oracleEnv and oracleEnv.cc source code file.  It is not recommended to manully update the generated source code, rather all updates should be done by calling "generate_scriptEnv.py" again.</p>
<h4><strong>Using a scriptEnv in a CGI script:</strong></h4>
<pre class="code-python">dmj@genepool02:~$ cat /global/project/.../www/test_scriptEnv.cgi
#!/global/project/.../scripts/oracleEnv python
import sys
print "Content-type: text/html"
print ""
print "&lt;html&gt;"

try:
	import cx_Oracle
	print "Executing with:&lt;strong&gt;%s&lt;/strong&gt;" % sys.executable
except:
	import traceback
	exception_strs = traceback.format_exception(sys.exc_info())
	print "&lt;pre&gt;%s&lt;/pre&gt;" % "\n".join(exception_strs)
print "&lt;/html&gt;"
dmj@genepool02:~$</pre>
<p>If your script will not be executed in a genepool environment (e.g. in the portal system, not a gpweb), use the "--realpaths" argument to generate_scriptEnv.py.  The "--realpaths" argument will rewrite all the paths in the environment from the modules to use the absolute path (i.e., /global/common/genepool, instead of /usr/common).  This option will also prevent the embedded modules from being manipulated by your script (i.e., can't unload or purge it).</p>
<h2>Presumed Frequently Asked Questions</h2>
<p><strong>Q:</strong> Why are scriptEnvs compiled?<br><strong>A:</strong>  Some linux distributions will <strong>not</strong> execute a non-binary interpreter in the shebang line.  This prevents use of an arbitrary wrapper script which could flexibly load modules dynamically.  Furthermore embedding the the modules saves on the cost of modulefile interpretation at process start-up time.  Finally, since the scriptEnv will directly execute your intended interpreter directly, instead of asking another yet another interpreter (e.g., /usr/bin/env or /bin/sh) to work out the final interpreter, further start-up execution time is saved.  This may be important for scripts which are called frequently (e.g., CGI scripts).</p>
<hr><p><strong>Q:</strong> Can I include arguments to my favorite interpreter?<br><strong>A:</strong>  Yes, scriptEnv tries to determine the intended arguments and passes them explicitly to the final interpreter.  It does this by looking for white spaces, and knows nothing of escape sequences.  Therefore:  "#!/path/to/scriptEnv perl -w" is acceptable, but "#!/path/to/scriptEnv perl -fake\ flag" is not.</p>
<hr><p><strong>Q:</strong> What if I want to add modules to my scriptEnv?<br><strong>A:</strong>  Since the modules are directly embedded into the scriptEnv, you'll need to re-run generate_scriptEnv.py with the new set of modules you want.</p>
<hr><p><strong>Q:</strong> If the modules are embedded, what happens if the module changes?<br><strong>A:</strong> Nothing - your scriptEnv will not be aware of any changes to the modules system.  It is recommended to rebuild the scriptEnvs frequently (e.g. with a cron script).  If generate_scriptEnv.py detects an issue creating the scriptEnv, it will return a non-zero exit status.  A reasonable cron-job for updating a scriptEnv would look like:</p>
<pre class="code-shell">5 23 * * * cd &lt;scratchPath&gt; &amp;&amp; generate_scriptEnv.py myScriptEnv python oracle_client \
    &amp;&amp; mv myScriptEnv /real/path/for/myScriptEnv</pre>
<hr>
                </div>
                
            
