    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Best Practices - and Practices to Avoid</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                
                <h2>Best Practices - Dos and Don'ts on the cluster</h2>
<p>Please keep the following in mind when running/submitting jobs on Genepool:</p>
<table border="0"><tbody><tr><td><strong>Use qstat and qmod interactively.  </strong>Please <strong>DO NOT</strong> use these commands in scripts or tight loops.  Please <strong>DO NOT</strong> clear job errors from scripts.  To determine whether or not a job has finished, use job dependencies, empty files (flags), logs, signal traps, etc.  You can also set up your script so that you recieve an email when the job is running and when the job is completed.<br><strong>Use qs instead of qstat.</strong>  qs is a cached version of the qstat data; the data is refreshed every two minutes.  qs makes the queued job data more accessible than qstat.</td>
</tr><tr><td><strong>Request 12 hours or less.</strong>  The are a great many more nodes dedicated to shorter jobs than the long jobs.  It is worth taking a bit of time to consider how to get your production jobs to run faster than 12 hours if at all possible!</td>
</tr><tr><td><strong>Checkpoint your pipelines!</strong>  If there are breaks in your workflow, write the intermediate output to a checkpoint file.  This will save you from having to restart the calculation from the beginning if the job is killed or dies before completion.  This also applies to pipeline testing: do not expect that the debug queue will run for a long time in order for the complete pipeline run to finish.</td>
</tr><tr><td><strong>Use 'ulimit -c 0' option with qsub</strong> in your scripts to disable coredumps.  Otherwise, the fileserver may become overwhelmed when hundreds of coredump files are written to the same location.  We are currently trying to make this the default behavior.</td>
</tr><tr><td><strong>Use array jobs instead of many individual jobs whenever possible. </strong> This reduces load on the scheduler and reduces the number of scripts that you need to maintain.</td>
</tr><tr><td><strong>Don't run short jobs on the cluster!</strong>  If the jobs require less than a minute to complete, consider combining them into longer jobs.  Scheduling such short jobs will cost more than the jobs themselves!  We recommend that jobs take at least 20 minutes to complete, but 3-4 hours per task would be a better target.</td>
</tr><tr><td><strong>Do not overestimate the runtime needed for a job to complete by too much. </strong> Shorter runtimes allow your job to be scheduled and run more quickly.  It might end up being faster to request the lower bound on the run time for most of the jobs and re-run any that don't complete.  This is also where checkpointing your pipelines can be helpful - if you run out of time and the job has to be re-run, it is far more efficient to not start the job over from the beginning.</td>
</tr><tr><td>Request soft limits that are a bit smaller than the hard limits for consumable options and trap signals to know why a job was killed.</td>
</tr><tr><td><strong>Use the '-w e' option in qsub.</strong>  This will prevent unschedulable jobs from entering the queue.  This may be the default option in the future.</td>
</tr></tbody></table>
                </div>
                
            
