    <div class="main-wrapper">
        
        <h1 id="page-heading">JGI Digital Scavenger Hunt</h1>
        <section><div class="Content"><p>The NERSC webpages are a great resource for New and Old users, so this is the first stop on the JGI Digital Scavenger Hunt. </p>
<p>Here is your first clue:</p>
<p>1) Log on to Genepool (ssh -Y genepool.nersc.gov)</p>
<p>2) Load the JAMO (dev) module (module load jamo/dev)</p>
<p>3) Run the following sequence of commands and answer the questions:</p>
<p class="code-basic">genpool10: ~ $ jamo </p>
<ul><li>What is the third letter of the sixth jamo command in the help menu?</li>
</ul><p class="code-basic">genepool10: ~ $ jamo info</p>
<ul><li>
<p>What is the first letter of the second possible file_type?</p>
</li>
</ul><p class="code-basic"><span style="line-height: 19.5px;">genepool10: ~ $ jamo info library HYCU</span></p>
<ul><li>What is the 15th character in the first line of the output?</li>
</ul><p class="code-basic"><span style="line-height: 19.5px;">genepool10: ~ $ jamo info all filename README</span></p>
<ul><li>What is the 4th character in the last line of the output?</li>
</ul><p class="code-basic"><span style="line-height: 19.5px;">genepool10: ~ $ jamo show 534791b20d878563d25b6489</span></p>
<ul><li>What is the first letter of the 20th line of the output?</li>
</ul></div></section>
        
        
    </div>
</div>



            </div>
            <!--googleoff: snippet--><!--googleoff: index-->
            <div class="footer">
                
<div class="LastEdited">Last edited: 2016-04-29 11:34:45</div>

<div class="footer-wrapper">
        <div class="badges">
            <a href="http://www.lbl.gov/"><img src="themes/nersc-sass/images/berkeley-lab-badge.png" /></a>
            <a href="http://science.energy.gov/"><img src="themes/nersc-sass/images/doe-badge.png" /></a>
        </div>
        
        <ul class="footer-links">
            
                <li><a href="/users/accounts/user-accounts/acknowledge-nersc/">Acknowledge NERSC</a></li>
            
                <li><a href="/about/contact-us/">Contact us</a></li>
            
                <li><a href="http://www.lbl.gov/Disclaimers.html">Privacy and Security Notice</a></li>
            
            
        </ul>
        
</div>



            </div>
        </div>
    </div>

<script type="text/javascript" src="/framework/thirdparty/jquery/jquery.min.js?m=1462921760"></script><script type="text/javascript" src="/mysite/javascript/no-console.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.beautyOfCode.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/dataTables-1.7/media/js/jquery.dataTables.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/shadowbox-3.0.3/shadowbox.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.metadata.2.0/jquery.metadata.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.media.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.oembed.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.cycle/jquery.cycle.all.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.bookmark.package-1.4.0/jquery.bookmark.min.js?m=1486417999"></script><script type="text/javascript" src="/themes/nersc-sass/javascript/jquery-ui-1.8.7.custom/js/jquery-ui-1.8.7.custom.min.js?m=1486417982"></script><script type="text/javascript" src="/mysite/javascript/jquery.expander/jquery.expander.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/core.js?m=1486417999"></script><script type="text/javascript" src="/themes/nersc-sass/javascript/theme-core.js?m=1486417982"></script></body>
</html>
