    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Monitoring and Managing Jobs</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                
                <h2>Monitoring and Managing Batch Jobs</h2>
<p>These are some basic commands for monitoring and modifiying batch jobs while they're queued or running.</p>
<p>NERSC has developed a new tool for monitoring and viewing the state of batch jobs for genepool called qs.  Please read about <a href="/users/computational-systems/genepool/running-jobs/monitoring-and-managing-jobs/monitoring-jobs-with-qs/">Monitoring jobs with qs</a></p>
<table border="0"><tbody><tr><th>Action</th><th>How to do it</th><th>Comment</th></tr><tr><td rowspan="3"><span>Get a listing of your jobs and their states</span></td>
<td>qs -u </td>
<td><span>If you skip the -u option, you'll get all the jobs on Genepool/Phoebe.</span></td>
</tr><tr><td>qstat -u <em>user_name</em></td>
<td>If you skip the -u option, you'll only see jobs for your username.</td>
</tr><tr><td>qstat_long -u <em>user_name</em></td>
<td>Regular qstat truncates job names to 10 characters. If you need a full name - use qstat_long.</td>
</tr><tr><td>Get detailed info about a specific job</td>
<td>qstat -j <em>job_ID</em></td>
<td>You can get <em>job_ID</em> by listing your jobs as described above.</td>
</tr><tr><td>See how much cputime a job has used</td>
<td>qstat -j <em>job_ID</em></td>
<td>Look in the next to the last line or grep the output on "usage".   Note that in the memory usage GBs stands for Gigabyte-seconds.</td>
</tr><tr><td>Kill a specific job</td>
<td>qdel <em>job_ID</em></td>
<td>If qdel doesn't work try qdel -f <em>job_ID</em></td>
</tr><tr><td>Kill all your jobs</td>
<td>qdel -u <em>user_name</em></td>
<td> </td>
</tr><tr><td>Select a job to run first</td>
<td>qalter -js NN <em>job_ID</em> <br><em>NN is some positive number</em></td>
<td>In UGE you control the relative priority of your jobs by adjusting their job shares. A larger job share results in a higher priority.</td>
</tr><tr><td>Use multiple job slots for your job</td>
<td>qalter -pe pe_slots NN <em>job_ID</em> <br><em>NN is some positive number</em></td>
<td>Set NN to the number of job slots your job needs to prevent overloading the node. For example, if you are are running a multithreaded job set NN to the number of threads.</td>
</tr><tr><td>Clear jobs in Eqw state</td>
<td>qmod -cj <em>job_ID</em></td>
<td>The Eqw state means the job started but there was some error.  Check the error with "qstat -j <em>job_ID</em>".  It will be listed near the end of the output.  Fix it if necessary before clearing the job or it will just go back into the Eqw state again. This can only be done from the genepool login nodes (not the gpints).</td>
</tr></tbody></table>
                </div>
                
            
