    <div class="main-wrapper">
        
        <h1 id="page-heading">Denovo, the replacement for Genepool</h1>
        <section><div class="Content"><p>Denovo is the name of the cluster we are using to test the upgrade for Genepool; i.e. it's what Genepool will eventually become. Denovo is production-ready from the viewpoint of system and software as of mid October 2017, and we will be migrating capacity from Genepool to Denovo as fast as circumstances allow. That means that as soon as you transition your pipelines to Denovo and verify that they work, we will move capacity across so you can switch to running on Denovo at the scales you need.</p>
<p>We expect this migration to be rapid, for two reasons; one is that having capacity split between two different clusters (Genepool and Denovo) is hard to manage, it will be difficult to ensure good throughput for all users. The other is so that we can abandon the UGE scheduler (with its high license fees) by early 2018. Like the rest of NERSC, Denovo will use the Slurm scheduler, which is more flexible and powerful than UGE.</p>
<p>To achieve this, <strong>we want to migrate all users to Denovo and Slurm by Christmas 2017</strong>. If you want to know more about the timeline, or have any questions about porting your workloads, please contact your consultants, we're here to help.</p>
<h2>Logging into Denovo</h2>
<p>Logging into Denovo is as simple as typing <strong>ssh denovo</strong>. Genepool users are all enabled there by default, and you log into the same home environment you have on Genepool. However, Denovo does not have all the same software modules installed that Genepool does, since we expect you to use tools like <strong>Shifter</strong> or <strong>Anaconda</strong> to manage software in a more robust manner, whenever possible. There are tutorials on Shifter and Anaconda on the <a href="/users/computational-systems/genepool/genepool-training-and-tutorials/">Genepool Training &amp; Tutorial</a> page, as well as tutorials on Slurm.</p>
<h2>Using Slurm on Denovo/Genepool</h2>
<p>Denovo exclusively uses the open-source Slurm scheduler for its job scheduling. You can view <a href="users/computational-systems/cori/running-jobs/slurm-at-nersc-overview/">NERSC's pages on Slurm</a>, and <a href="https://slurm.schedmd.com/">the complete documentation for Slurm here</a>. Genepool continues to use the UGE scheduler for now, but will switch to Slurm in the near future - precise timescale to be determined.</p>
<p>Command options:</p>
<table align="left"><tbody><tr><td>Genepool UGE command</td>
<td>Slurm equivalent</td>
<td>Description</td>
</tr><tr><td>qsub yourscript.sh</td>
<td>sbatch yourscript.sh</td>
<td>Submit the shell script "yourscript.sh" as a job</td>
</tr><tr><td>qlogin</td>
<td>salloc -&gt; ssh </td>
<td>
<p>Start an interactive session. On Slurm, salloc creates a node allocation, and automatically logs you into the first of the nodes you were allocated.</p>
</td>
</tr><tr><td>qs</td>
<td>squeue</td>
<td>View jobs running on the cluster. Uses a cached dataset, and can be utilized with scripts. "squeue --help" will provide a full list of options.</td>
</tr><tr><td>qstat</td>
<td> </td>
<td>Provides current, immediate info on running jobs. Is not cached, and should NOT be used with scripts.</td>
</tr><tr><td>qhold &lt;jobnumber&gt;</td>
<td>scontrol hold &lt;jobnumber&gt;</td>
<td>Hold a specific job</td>
</tr><tr><td>qrls &lt;jobnumber&gt;</td>
<td>scontrol release &lt;jobnumber&gt;</td>
<td>Release a specific job</td>
</tr><tr><td>qhost</td>
<td>sinfo </td>
<td>Get information on the configuration of the cluster. "sinfo --help" provides a full list of options</td>
</tr><tr><td> </td>
<td>scontrol show &lt;ENTITY&gt;</td>
<td>"scontrol show &lt;ENTITY&gt;" also provides detailed info about various cluster configuration. For example "scontrol show partitions" or "scontrol show nodes". See "scontrol show --help" for a full list of options.</td>
</tr></tbody></table><p> </p>
<p><span style="font-size: 13px;">Guide to scheduler options. These options can be placed in the submission command, or the shell script header.</span></p>
<table style="width: 1141px; height: 312px;"><tbody><tr><td>UGE option</td>
<td>Slurm equivalent</td>
<td>Description</td>
</tr><tr><td>-q &lt;queue&gt;</td>
<td>-p &lt;queue&gt;</td>
<td>In Slurm queues are referred to as partitions, and are functionally similar.</td>
</tr><tr><td> </td>
<td>-N &lt;count&gt;</td>
<td>Number of nodes requested. (In UGE, you would request a total number of cpus, and UGE would allocate an appropriate number of nodes to fill the request, so this option was not available.)</td>
</tr><tr><td>-pe &lt;options&gt;</td>
<td>-n &lt;count&gt;</td>
<td>Number of tasks requested per node. ***Be careful if requesting values for both -N and -n (they are multiplicative!!!)***.</td>
</tr><tr><td> </td>
<td>-c &lt;count&gt;</td>
<td>Number of cpus per task. The number of cpus per task multiplied by the number of tasks per node should not exceed the number of cpus per node!</td>
</tr><tr><td>-l h_rt=&lt;seconds&gt;</td>
<td>-t &lt;h:min:sec&gt;</td>
<td>Hard run time limit. Note that in Slurm, "-t 30" is requesting 30 seconds of run time. </td>
</tr><tr><td>-l mem_free=&lt;value&gt;</td>
<td>--mem=&lt;value&gt;</td>
<td>Minimum amount of memory, with units. For example: --mem=120G</td>
</tr><tr><td>-l ram.c=&lt;value&gt;</td>
<td>--mem-per-cpu=&lt;value&gt;</td>
<td>Minimum amount of memory per cpu with units. For example: --mem-per-cpu=5G</td>
</tr><tr><td>-o &lt;filename&gt;</td>
<td>-o &lt;filename&gt;</td>
<td>Standard output filename</td>
</tr><tr><td>-e &lt;filename&gt;</td>
<td>-e &lt;filename&gt;</td>
<td>Standard error filename</td>
</tr><tr><td>-m abe</td>
<td>--mail-type=&lt;event&gt;</td>
<td>Send email message on events. In Slurm, &lt;event&gt; can be BEGIN, END, FAIL, or ALL</td>
</tr><tr><td>-M &lt;email address&gt;</td>
<td>--mail-user=&lt;email address&gt;</td>
<td>Send event message to &lt;email address&gt;</td>
</tr><tr><td>-P &lt;project&gt;</td>
<td>--wckey=&lt;project&gt;</td>
<td>Project under which to charge the job. </td>
</tr></tbody></table><p> </p>
<h2>Denovo's Queues and Structure</h2>
<p>Denovo's configuration is under frequent change as we test, and are not likely to be reflective of the future configuration of Genepool. <strong>We need <em>your</em> feedback to help us understand what the configuration should be</strong>. In particular, we want to make the configurations on Denovo and on the Cori JGI capacity converge as much as feasible, to simplify porting batch scripts between the two systems.</p>
<p>This information is correct as of October 18th.</p>
<p>Partitions: At this time, Denovo uses a single partition, named "production".</p>
<p>Job limits: 7 day walltime limit. No job submission limit. </p>
<p>Available nodes:</p>
<table align="left"><tbody><tr><td>Node type</td>
<td>Count</td>
<td>Configuration</td>
<td>Host IDs</td>
</tr><tr><td>Login nodes</td>
<td>2</td>
<td>16 cores, 128 GB</td>
<td>mc1215, mc1216</td>
</tr><tr><td>Compute nodes</td>
<td>10</td>
<td>16 cores, 128 GB</td>
<td>mc0560-0563, mc1217, mc1535-1539</td>
</tr><tr><td>Compute nodes</td>
<td>6</td>
<td>32 cores, 256 GB</td>
<td>mc0168, mc0169, mc1211-1214</td>
</tr><tr><td>Compute nodes</td>
<td>2</td>
<td>32 cores, 512 GB</td>
<td>mc1633, mc1634</td>
</tr></tbody></table><p> </p>
<p>To check the configuration on any particular day, use the <strong>sinfo</strong> command:</p>
<p class="code-shell">denovo&gt; sinfo --format "%n %c %m %l"<br>HOSTNAMES CPUS MEMORY TIMELIMIT<br>mc1217 16 127632 7-00:00:00<br>mc0560 16 127632 7-00:00:00<br>mc0561 16 127632 7-00:00:00<br>mc0562 16 127632 7-00:00:00<br>mc0563 16 127632 7-00:00:00<br>mc1633 32 516418 7-00:00:00<br>mc1634 32 516418 7-00:00:00</p>
<h3> Submitting jobs</h3>
<p>Slurm is much more flexible than UGE, so we don't need to impose strict limits with lots of queues that leads to inefficient use of resources. To allow Slurm to schedule your jobs efficiently, and to make your batch jobs portable between Denovo and Cori, you should not target particular queues or partitions if you can avoid it. Instead, you should specify the number of CPUs you need, the amount of memory, and the runtime that you need (walltime, not multiplied by number of CPUs).</p>
<p>The more accurately you specify those parameters, the faster your job will schedule, because the scheduler can find resources to match your requirements sooner than it otherwise might. Requesting overly long runtimes, in particular, will cause your jobs to be held in the period before scheduled maintenance, since the scheduler will assume there's not enough time to run your job before the machine goes down for maintenance. Run a few pilot jobs first if you're not sure what you need. Workflow managers can handle retries with adjusted limits in the case of outliers.</p>
<p>Since there is currently no per-user job-submission limit, it's entirely possible that one person can commandeer the entire cluster for an indefinite period. We ask that you be responsible with your job submissions. If you use task arrays, you can limit the degree of concurrency so that you can submit large numbers of jobs without triggering complaints. E.g, this example shows how to submit 1000 jobs, but only allow 10 to run at any one time.</p>
<p class="code-shell">denovo&gt; sbatch --array=1-1000%10 ...</p>
<p>You can request exclusive use of a node with the <strong>--exclusive</strong> flag to the sbatch command. Slurm enforces job-boundaries more rigidly than UGE, jobs that attempt to use more memory or CPUs than they have been allocated will be killed by the scheduler. So you may not need to use this flag as much as you have on Genepool, we recommend you try without it and only use it if you see problems. Using --exclusive overrides the number of CPUs requested and the amount of memory, of course.</p>
<p>To summarize, for maximum throughput, you should request only the <em>resources</em> you need; CPUs, memory, time, and the more accurately the better. Specifying queues or partitions will make your job harder to schedule, and may lead to delays. This will also make your job scripts portable to Cori, as a bonus. If you must specify system-specific parameters (e.g. <strong>--qos=jgi</strong> on Cori) it's better to specify them on the command-line when you submit the job, rather than in the batch script with #SBATCH parameters.</p>
<p>You should take care to specify the amount of memory your job needs. By default, if you don't request memory, your job will go to one of the 128 GB nodes. To use 256 GB or more, you must specify the memory you need. The actual amount of memory available for jobs is slightly less than the total installed, since the operating system takes some of it. So if you actually request 128 GB of memory, with <strong>--mem=128G</strong>, your job will run on a 256 GB node. The <strong>sinfo</strong> command in the previous section shows you how to list the available memory, in MB, and the current max limits are shown in the table here.</p>
<table><tbody><tr><td>Nominal system memory</td>
<td>Maximum available memory (MB)</td>
<td>Slurm options (default unit is MB, use K/M/G/T to specify)</td>
</tr><tr><td>128 GB</td>
<td>121042</td>
<td>--mem=121042, or --mem=118G</td>
</tr><tr><td>256 GB</td>
<td>249239</td>
<td>--mem=249239, or --mem=243G</td>
</tr><tr><td>512 GB</td>
<td>506097</td>
<td>--mem=506097, or --mem=494G</td>
</tr><tr><td>1 TB</td>
<td>not yet available</td>
<td> </td>
</tr><tr><td>2 TB</td>
<td>not yet available</td>
<td> </td>
</tr></tbody></table><p> </p>
<h2>Monitoring job progress</h2>
<p>The <strong>squeue</strong> command is very flexible, and can give you a lot of information on currently running or queued jobs. For completed jobs, <strong>sacct</strong> offers much the same functionality. There are simple options to select the set of jobs by username, by partition, by job-ID etc, and options to specify the output information in ways that are easy for scripts to parse. For example, to see all my currently running or queued jobs, I can do this:</p>
<p class="code-shell">denovo&gt; squeue --user wildish <br>             JOBID PARTITION     NAME     USER ST       TIME  NODES NODELIST(REASON)<br>             33077 productio sleep.sh  wildish  R      10:50      1 mc1211</p>
<p>If  you want to monitor your jobs from a script, you can produce output that is much easier for a script to parse:</p>
<p class="code-shell">denovo&gt; squeue --noheader --user wildish --Format=jobid,state<br>33077               RUNNING</p>
<p>Or even simpler, if you know the ID of the job you want to monitor:</p>
<p class="code-shell">denovo&gt; squeue --noheader --job 33077 --Format=state<br>RUNNING</p>
<p>For completed jobs, the <strong>sacct</strong> command is almost completely equivalent:</p>
<p class="code-shell">denovo&gt; sacct --noheader --user wildish --format=jobid,state<br>33065         COMPLETED <br>33065.0       COMPLETED <br>33066         COMPLETED <br>33066.0       COMPLETED <br>33067            FAILED <br>33067.0          FAILED <br>33068            FAILED <br>33068.0          FAILED <br>33069         COMPLETED <br>33069.0       COMPLETED</p>
<p>Check the man pages for more details of each command's options (e.g. 'man sacct').</p>
<h2>Running with Shifter</h2>
<p>Shifter on Denovo behaves much the same as on Cori or Edison. You do not need to load any modules for Shifter, it's in the default $PATH. Shifter implements a limited subset of the Docker functionality which can be safely supported at NERSC. Essentially this means running images, and volume mounts to access filesystems. Specifying ports or environment variables is not supported, nor are more advanced features like linked containers. In general, you're expected to simply run a script or binary, with optional arguments, with input and output mapped to the global filesystems.</p>
<p>You can find more information on Shifter on the <a href="https://docs.nersc.gov/programming/shifter/overview/">Using Shifter and Docker</a> page, here are a few simple example commands:</p>
<h3>Pulling an image from Dockerhub to NERSC:</h3>
<p class="code-shell"><code>denovo&gt; shifterimg pull bioboxes/velvet<br>2017-09-27T14:24:59 Pulling Image: docker:bioboxes/velvet, status: READY</code></p>
<h3>Listing the images which have been pulled already:</h3>
<p>You can list the images which have been pulled to NERSC already with the 'shifterimg images' command. E.g. to find images built by the JGI container project so far and available on Denovo, use this command:</p>
<p class="code-shell">denovo2&gt; shifterimg images | grep jgi<br>mendel     docker     READY    b6ba49b95b   2017-05-15T15:46:02 registry.services.nersc.gov/jgi/bwa:latest<br>mendel     docker     READY    a4c075bcfe   2017-05-11T09:47:48 registry.services.nersc.gov/jgi/checkm:latest<br>mendel     docker     READY    ea246c6191   2017-07-26T11:24:50 registry.services.nersc.gov/jgi/hmmer:latest<br>mendel     docker     READY    1cd8629c3e   2017-05-15T16:28:46 registry.services.nersc.gov/jgi/macs2:latest<br>mendel     docker     READY    1a8159327b   2017-05-16T14:43:13 registry.services.nersc.gov/jgi/picard:latest<br>mendel     docker     READY    b2cf3f787e   2017-09-11T09:30:52 registry.services.nersc.gov/jgi/prodege:latest<br>mendel     docker     READY    efddc3487b   2017-09-15T10:38:03 registry.services.nersc.gov/jgi/prodigal:latest<br>mendel     docker     READY    d3de678de9   2017-08-21T16:49:22 registry.services.nersc.gov/jgi/smrtanalysis:2.3.0_p5<br>mendel     docker     READY    6a8ee03bf2   2017-09-15T10:42:27 registry.services.nersc.gov/jgi/smrtlink:4.0.0.190159<br>mendel     docker     READY    36b07a3f2d   2017-05-11T11:10:03 registry.services.nersc.gov/jgi/tony-sandbox:latest<br>mendel     docker     READY    00b175aab6   2017-05-10T12:32:30 registry.services.nersc.gov/jgi/trinity:latest<br>mendel     docker     READY    22891d8b91   2017-05-05T12:09:38 registry.services.nersc.gov/jgi/usearch:gitlab<br>mendel     docker     READY    6c728db34a   2017-05-15T15:58:43 registry.services.nersc.gov/jgi/wgsim:latest</p>
<p>We will have a web page with information about the JGI container project soon, meanwhile, contact Tony if you want to now more.</p>
<h3>Running an image interactively:</h3>
<p>Denovo currently supports running images on the login nodes. Cori and Edison do not. You should run on the login nodes only to debug or test images, not to run something that takes longer than a few minutes. Once you know that your container runs, please submit a batch job to run it, rather than use the login nodes.</p>
<p class="code-shell">denovo&gt; shifter --image=registry.services.nersc.gov/jgi/hmmer:latest hmmscan -h<br># hmmscan :: search sequence(s) against a profile database<br># HMMER 3.1b2 (February 2015); http://hmmer.org/<br># Copyright (C) 2015 Howard Hughes Medical Institute.<br># Freely distributed under the GNU General Public License (GPLv3).<br># - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -<br>Usage: hmmscan [-options] &lt;hmmdb&gt; &lt;seqfile&gt;<br>[...]</p>
<p>Note that you have to use the full name of the image, <strong>registry.services.nersc.gov/jgi/hmmer:latest</strong>, not just <strong>hmmer:latest</strong> or <strong>hmmer</strong>, like you can with Docker.</p>
<h3>Running an image interactively on a batch node:</h3>
<p>If you need to run for more than a few minutes for debugging, you can get an interactive node and run there. Use the <strong>salloc</strong> command, then run shifter. Salloc takes many of the same options that sbatch does, in that you can ask for more than one node, specify the time you want the allocation for etc. Salloc immediately logs you into the first node of your allocation.</p>
<p class="code-shell">denovo&gt; salloc<br>salloc: Granted job allocation 33066<br>bash-4.1$ shifter --image=registry.services.nersc.gov/jgi/hmmer:latest hmmscan -h<br># hmmscan :: search sequence(s) against a profile database<br># HMMER 3.1b2 (February 2015); http://hmmer.org/<br># Copyright (C) 2015 Howard Hughes Medical Institute.<br># Freely distributed under the GNU General Public License (GPLv3).<br># - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -<br>Usage: hmmscan [-options] &lt;hmmdb&gt; &lt;seqfile&gt;<br>[...]<br>bash-4.1$ exit<br>salloc: Relinquishing job allocation 33066<br>denovo&gt;</p>
<h3>Running a shifter image in a batch script:</h3>
<p>Shifter is integrated with Slurm on Cori, Edison and Denovo, which means that you can tell Slurm to pull the shifter image you need, and keep the body of your script cleaner. For example, you can submit the following script to Slurm:</p>
<p class="code-shell">denovo&gt; cat shifter.sh <br>#!/bin/bash<br>#SBATCH -t 00:01:00<br>#SBATCH --image=alpine:3.5<br><br>shifter cat /etc/os-release</p>
<p>and it will produce this output:</p>
<p class="code-shell">denovo&gt; cat slurm-33075.out <br>NAME="Alpine Linux"<br>ID=alpine<br>VERSION_ID=3.5.2<br>PRETTY_NAME="Alpine Linux v3.5"<br>HOME_URL="http://alpinelinux.org"<br>BUG_REPORT_URL="http://bugs.alpinelinux.org"</p>
<p>So, in this example we specified the image in the #SBATCH directive, and just used 'shifter' in the script body to run a command from that container. That's a bit cleaner than having 'shifter --image=...' sprinkled throughout the batch script, but we can go one step further. By specifying the image on the "sbatch' submit command, and not in the script, we can make a script that works with several different versions of the container without change. This example simply tells you what OS the container thinks its running, and we can tell the script to run different containers at submit-time:</p>
<p class="code-shell">denovo&gt; cat shifter.sh <br>#!/bin/bash<br>#SBATCH -t 00:01:00<br><br>shifter cat /etc/os-release<br><br>denovo&gt; sbatch --image=alpine:3.5 shifter.sh <br>Submitted batch job 33076<br>[...]<br><br>denovo&gt; cat slurm-33076.out <br>NAME="Alpine Linux"<br>ID=alpine<br>VERSION_ID=3.5.2<br>PRETTY_NAME="Alpine Linux v3.5"<br>HOME_URL="http://alpinelinux.org"<br>BUG_REPORT_URL="http://bugs.alpinelinux.org"</p>
<p> now run the same script with a different image:</p>
<p class="code-shell">wildish@mc1218: default:~&gt; sbatch --image=ubuntu:16.04 shifter.sh<br>Submitted batch job 89<br>[...]<br><br>denovo&gt; cat slurm-89.out<br>premount hook<br>CAP_LAST_CAP: 37, possibleMaxCap: 37<br>NAME="Ubuntu"<br>VERSION="16.04.2 LTS (Xenial Xerus)"<br>ID=ubuntu<br>ID_LIKE=debian<br>PRETTY_NAME="Ubuntu 16.04.2 LTS"<br>VERSION_ID="16.04"<br>HOME_URL="http://www.ubuntu.com/"<br>SUPPORT_URL="http://help.ubuntu.com/"<br>BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"<br>VERSION_CODENAME=xenial<br>UBUNTU_CODENAME=xenial</p>
<h3>Interactive nodes, 'gpint' replacements</h3>
<p>We have a few nodes available as replacements for the group-specific gpint nodes, so-called 'dints'. These are configured exactly like the other login nodes, but are not part of the round-robin login, they can only be logged into by connecting first to a standard Denovo login node and then on to the dint. We can allocate these to groups for testing purposes, and once your group is happy that everything works, we will co-ordinate with you to migrate your gpints to dints. Let us know if you need one.</p>
<h3>Interactive nodes for batch debugging</h3>
<p>There are 5 nodes reserved for interactive work, specifically for debugging batch scripts, not for running long-term services or for exploratory analysis. You access them by using the --qos=interactive flag:</p>
<p class="code-shell">&gt; salloc --qos=interactive --time 01:00:00<br>salloc: Granted job allocation 283255<br>salloc: Waiting for resource configuration<br>salloc: Nodes mc1535 are ready for job</p>
<p>Please use these nodes reasonably, don't stay logged in if you're not making proper use of them. We will eventually have a better solution, but until then you'll have to share.</p>
<h3>Currently installed software, and known issues</h3>
<p>We have <a href="https://docs.google.com/document/d/10-PbvkCkM22Pdn0HGObgtD7OhLSdOoiq8NIyKahP-V0/edit">a separate Google document which details the currently known issues, and lists the installed software packages</a>. Please check that document before filing a ticket about a software problem. When you do file tickets, please make sure to select 'Denovo' as the resource, not 'Genepool', to avoid confusion.</p></div></section>
        
        
    </div>
</div>



            </div>
            <!--googleoff: snippet--><!--googleoff: index-->
            <div class="footer">
                
<div class="LastEdited">Last edited: 2019-02-12 14:46:17</div>

<div class="footer-wrapper">
        <div class="badges">
            <a href="http://www.lbl.gov/"><img src="themes/nersc-sass/images/berkeley-lab-badge.png" /></a>
            <a href="http://science.energy.gov/"><img src="themes/nersc-sass/images/doe-badge.png" /></a>
        </div>
        
        <ul class="footer-links">
            
                <li><a href="/users/accounts/user-accounts/acknowledge-nersc/">Acknowledge NERSC</a></li>
            
                <li><a href="/about/contact-us/">Contact us</a></li>
            
                <li><a href="http://www.lbl.gov/Disclaimers.html">Privacy and Security Notice</a></li>
            
            
        </ul>
        
</div>



            </div>
        </div>
    </div>

<script type="text/javascript" src="/framework/thirdparty/jquery/jquery.min.js?m=1462921760"></script><script type="text/javascript" src="/mysite/javascript/no-console.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.beautyOfCode.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/dataTables-1.7/media/js/jquery.dataTables.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/shadowbox-3.0.3/shadowbox.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.metadata.2.0/jquery.metadata.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.media.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.oembed.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.cycle/jquery.cycle.all.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/jquery.bookmark.package-1.4.0/jquery.bookmark.min.js?m=1486417999"></script><script type="text/javascript" src="/themes/nersc-sass/javascript/jquery-ui-1.8.7.custom/js/jquery-ui-1.8.7.custom.min.js?m=1486417982"></script><script type="text/javascript" src="/mysite/javascript/jquery.expander/jquery.expander.min.js?m=1486417999"></script><script type="text/javascript" src="/mysite/javascript/core.js?m=1486417999"></script><script type="text/javascript" src="/themes/nersc-sass/javascript/theme-core.js?m=1486417982"></script></body>
</html>
