    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Queues and Policies</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                    <!--googleoff: snippet--><!--googleoff: index-->

    <div class="show-toc"></div>

<!--googleon: snippet--><!--googleon: index-->

                
                
                <h2>Queues</h2>
<table style="width: 847px; height: 619px;"><tbody><tr><th>Queue Name</th><th>Purpose</th><th>User Requestable</th><th>Slot Limit</th><th>Memory Limit</th><th>Wall Clock Limit</th><th>Other Limits</th></tr><tr><td>normal.q</td>
<td>Production workloads. Default queue</td>
<td>No, <span> queue assignment</span> based on resource requests (ram.c, h_rt)</td>
<td>
<p>none</p>
</td>
<td>42G</td>
<td>
<p>12 hours</p>
</td>
<td> </td>
</tr><tr><td>long.q</td>
<td>Production workflows that need more than 12 hours</td>
<td>No, <span> queue assignment</span> based on resource requests (ram.c, h_rt)</td>
<td>
<p>320</p>
</td>
<td>42G </td>
<td>
<p>240 hours</p>
</td>
<td> </td>
</tr><tr><td>normal_excl.q</td>
<td>Production workloads - exclusive node scheduling.  </td>
<td>No, queue assignment based on resource requests (ram.c, h_rt, exclusive.c)</td>
<td>
<p>none</p>
</td>
<td>&gt;42G</td>
<td>
<p>12 hours</p>
</td>
<td> </td>
</tr><tr><td>long_excl.q</td>
<td>Production workloads that require more than 12 hours.</td>
<td><span>No, queue assignment based on resource requests (ram.c, h_rt, exclusive.c)</span></td>
<td>none</td>
<td>&gt;42G</td>
<td>240 hours</td>
<td> </td>
</tr><tr><td>high.q</td>
<td>High priority jobs and debugging jobs</td>
<td>Yes, request either "-q high.q" or "-l high.c"</td>
<td>8</td>
<td>120GB</td>
<td>
<p>240 hours<br>default 12 hours</p>
</td>
<td> </td>
</tr><tr><td>high_excl.q</td>
<td>High priority jobs with exclusive node scheduling</td>
<td>Yes, request "-q high_excl.q"</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr><tr><td>xfer.q</td>
<td>Data Transfer Queue on genepool; Use this to transfer data to /global/dna</td>
<td><span>Yes, request "-l xfer.c".</span></td>
<td>2</td>
<td>3.25GB</td>
<td>72 hours</td>
<td>
<ul><li>1 slot per job.</li>
<li>Maximum of 6 hours CPU time.</li>
</ul></td>
</tr></tbody></table><h2>Policies and Best Practices</h2>
<ul><li>Jobs running longer than 12 hours will be routed to a limited pool of nodes for long jobs</li>
<li>The high.c resource is intended for fast turn around jobs.  Users are limited to 2 slots for 12 hours.</li>
<li>Always request the shortest wall clock time and the smallest amount of memory you need.  This will allow your job to get scheduled faster.</li>
<li>The long queue has a limit of 320 slots per user</li>
<li>xfer.q has a long h_rt time limit.  This is to prevent walltime from killing short IO jobs.  Please target your data transfers to &lt; 12 hours.  The CPU limit is intended to enforce this practice.</li>
</ul><h2>Genepool Shares</h2>
<p>Each project may determine the subshares appropriate for their project.  For issues concerning share distribution, please talk to the <strong>proxy</strong> of the appropriate sponsor.</p>
<p>You are assigned to a default project when your account is created.  If you need to a job with a different project to which you have access, please add the following to your batch script (or just use -P if submitting to qsub from the command line):</p>
<p class="code-shell">#$ -P &lt;user requested project&gt;</p>
<p>Where the user-requested project is one of the sub-projects listed in the table below. </p>
<table><tbody><tr><th>Sponsor</th><th>Share%</th><th>User-requested Project</th></tr><tr><td>
<p>Len Pennacchio <br>(Proxy: Rob Egan)</p>
</td>
<td>10.1%</td>
<td>
<table><tbody><tr><td> </td>
<td>Relative Share %</td>
<td>Total Share %</td>
</tr><tr><td>gentech-rnd.p</td>
<td>40%</td>
<td>4.1%</td>
</tr><tr><td>gentech-reseq.p</td>
<td>30%</td>
<td>3%</td>
</tr><tr><td>gentech-rna.p</td>
<td>30%</td>
<td>3%</td>
</tr></tbody></table></td>
</tr><tr><td>
<p>Len Pennacchio <br>(Proxy: Rob Egan)</p>
</td>
<td>1.7%</td>
<td>
<table><tbody><tr><td> </td>
<td>Relative Share %</td>
<td>Total Share %</td>
</tr><tr><td>gentech-pi.p</td>
<td>0%</td>
<td>0%</td>
</tr><tr><td>gentech-sdm.p</td>
<td>82.3%</td>
<td>1.4%</td>
</tr><tr><td>gentech-pacbio.p</td>
<td>17.7%</td>
<td>0.3%</td>
</tr></tbody></table></td>
</tr><tr><td>
<p>Len Pennacchio <br>(Proxy: Rob Egan)</p>
</td>
<td>6.4%</td>
<td>
<table><tbody><tr><td> </td>
<td>Relative Share %</td>
<td>Total Share %</td>
</tr><tr><td>gentech-qaqc.p</td>
<td>0%</td>
<td>0%</td>
</tr><tr><td>gentech-rqc.p</td>
<td>100%</td>
<td>6.4%</td>
</tr></tbody></table></td>
</tr><tr><td>Nikos Kyrpides <br>(Proxy: Amrita Pati)</td>
<td>37.3%</td>
<td>
<table><tbody><tr><td> </td>
<td>Relative Share %</td>
<td>Total Share %</td>
</tr><tr><td>prok-IMG.p</td>
<td>36%</td>
<td>13.4%</td>
</tr><tr><td>prok-assembly.p</td>
<td>8%</td>
<td>3%</td>
</tr><tr><td>prok-annotation.p</td>
<td>45%</td>
<td>16.8%</td>
</tr><tr><td>prok-meco.p</td>
<td>5%</td>
<td>1.9%</td>
</tr><tr><td>prok-scell.p</td>
<td>6%</td>
<td>2.2%</td>
</tr></tbody></table></td>
</tr><tr><td>
<p>Dan Rokhsar <br>(Proxy: David Goodstein)</p>
<p> </p>
</td>
<td>3.6%</td>
<td>
<table><tbody><tr><td> </td>
<td>Relative Share %</td>
<td>Total Share %</td>
</tr><tr><td>fungal-assembly.p</td>
<td>100%</td>
<td>3.6%</td>
</tr></tbody></table></td>
</tr><tr><td>
<p>Dan Rokhsar<br>(Proxy: David Goodstein) </p>
</td>
<td>9.6%</td>
<td>
<table><tbody><tr><td> </td>
<td>Relative Share%</td>
<td>Total Share %</td>
</tr><tr><td>fungal-annotation.p</td>
<td>100%</td>
<td>9.6%</td>
</tr></tbody></table></td>
</tr><tr><td>Dan Rokhsar <br>(Proxy: David Goodstein)</td>
<td> 23.4%</td>
<td>
<table><tbody><tr><td> </td>
<td>Relative Share %</td>
<td>Total Share %</td>
</tr><tr><td>plant-analysis.p</td>
<td>17.1%</td>
<td>4.0%</td>
</tr><tr><td>plant-diversity.p</td>
<td>19.2%</td>
<td>4.5%</td>
</tr><tr><td>plant-assembly.p</td>
<td>32.0%</td>
<td>7.5%</td>
</tr><tr><td>plant-annotation.p</td>
<td>28.8%</td>
<td>6.7%</td>
</tr><tr><td>plant-support.p</td>
<td>2.8%</td>
<td>0.66%</td>
</tr></tbody></table></td>
</tr><tr><td> Ray Turner</td>
<td>3.9%</td>
<td>
<table><tbody><tr><td> </td>
<td>Relative Share %</td>
<td>Total Share %</td>
</tr><tr><td>vista.p</td>
<td>74.4%</td>
<td>2.9%</td>
</tr><tr><td valign="top">system.p</td>
<td valign="top">25.6%</td>
<td valign="top">1%</td>
</tr></tbody></table></td>
</tr><tr><td>Ray Turner</td>
<td>3.8%</td>
<td>
<table><tbody><tr><td> </td>
<td>Relative Share %</td>
<td>Total Share %</td>
</tr><tr><td>reserve.p</td>
<td>100%</td>
<td>3.8%</td>
</tr></tbody></table></td>
</tr></tbody></table>
                </div>
                
            
