
    <div class="main-wrapper">

    <h1 id="page-heading">Genepool</h1>
    
        <div class="captionImage MainImage right">
    <a class="shadowbox" href="/assets/Uploads/3875707485dd74a4e8ffo.jpg" class="right"><img src="/assets/Uploads/_resampled/SetWidth230-3875707485dd74a4e8ffo.jpg" alt="3875707485dd74a4e8ffo" /></a>
    
</div>

    
    <section><div class="Content"><p>The Genepool system is a cluster dedicated to the DOE <a href="http://www.jgi.doe.gov/">Joint Genome Institute</a>'s computing needs.  Denovo is a smaller test system for Genepool that is primarily used by NERSC staff to test new system configurations and <a href="/users/computational-systems/genepool/software/"> </a><a href="/users/computational-systems/genepool/software/">software</a>.</p></div></section>
    
        <div class="IndexList">
            
                <div class="index-list-item first">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/genepool-upcoming-changes/" title="Genepool Upcoming Changes">Genepool Upcoming Changes<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Genepool's Upcoming Changes
Genepool will see several important changes in 2017, outlined on this page. Changes to the system will increase system stability, create greater parity between Genepool and other NERSC HPC systems, and enable new tools like Shifter to run there. Users will need to make adjustments to the way that jobs are scheduled, and may need to recompile or make adjustments to accommodate a major OS version upgrade. If you have any questions or would like focused assistance in… <a href="/users/computational-systems/genepool/genepool-upcoming-changes/" title="Genepool Upcoming Changes" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/getting-started/" title="Getting started">Getting started<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Learn how to log in and get started <a href="/users/computational-systems/genepool/getting-started/" title="Getting started" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/configuration/" title="Configuration">Configuration<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">The Genepool system will be made up of a heterogeneous collection of nodes to serve the diverse workload of the JGI users. <a href="/users/computational-systems/genepool/configuration/" title="Configuration" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/user-environment/" title="User Environment">User Environment<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">When users log into Genepool/Phoebe they have the default global homes environment which includes the JGI software and tools. <a href="/users/computational-systems/genepool/user-environment/" title="User Environment" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/programming/" title="Programming">Programming<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">The Genepool system has a rich set of software development tools and build environments. <a href="/users/computational-systems/genepool/programming/" title="Programming" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/software/" title="Software">Software<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Users can access software in /jgi/tools.  In the future NERSC will create software modules and details regarding software maintenance and access will be found here. <a href="/users/computational-systems/genepool/software/" title="Software" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/queues-and-policies/" title="Queues and Policies">Queues and Policies<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Learn about the fair share batch scheduler and queues used on Genepool/Phoebe <a href="/users/computational-systems/genepool/queues-and-policies/" title="Queues and Policies" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/running-jobs/" title="Running Jobs">Running Jobs<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">UGE (Formerly Sun Grid Engine) is the batch system used on Genepool and Phoebe, this section will tell you how to run jobs using this system. <a href="/users/computational-systems/genepool/running-jobs/" title="Running Jobs" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/cluster-statistics/" title="Cluster Statistics">Cluster Statistics<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Basic user and group usage statistiscs. <a href="/users/computational-systems/genepool/cluster-statistics/" title="Cluster Statistics" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/file-storage-and-io/" title="File storage and I/O">File storage and I/O<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">There are 5 main areas on Genepool where users can read, write and store data.  This page documents the purpose and performance of each one. <a href="/users/computational-systems/genepool/file-storage-and-io/" title="File storage and I/O" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/data-management/" title="Data Management">Data Management<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Move your data from Netapps to /project b or /house.  Back up and delete data from house! <a href="/users/computational-systems/genepool/data-management/" title="Data Management" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/genepool-training-and-tutorials/" title="Genepool Training and Tutorials">Genepool Training and Tutorials<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">This is a summary page for the trainings and tutorial sessions that have been given at the JGI.  
Recordings of talks can be found at this… <a href="/users/computational-systems/genepool/genepool-training-and-tutorials/" title="Genepool Training and Tutorials" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/websites-databases-and-cluster-services/" title="Websites, databases and cluster services">Websites, databases and cluster services<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Regulations and best practices for running and using network services. <a href="/users/computational-systems/genepool/websites-databases-and-cluster-services/" title="Websites, databases and cluster services" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/denovo-cluster/" title="Denovo, the replacement for Genepool">Denovo, the replacement for Genepool<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Denovo is the name of the cluster we are using to test the upgrade for Genepool; i.e. it's what Genepool will eventually become. Denovo is production-ready from the viewpoint of system and software as of mid October 2017, and we will be migrating capacity from Genepool to Denovo as fast as circumstances allow. That means that as soon as you transition your pipelines to Denovo and verify that they work, we will move capacity across so you can switch to running on Denovo at the scales you need. <a href="/users/computational-systems/genepool/denovo-cluster/" title="Denovo, the replacement for Genepool" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item last">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/cori-for-jgi/" title="Cori for JGI">Cori for JGI<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">NERSC is pleased to provide compute capacity on its flagship supercomputer, Cori, to JGI users. Burst buffer, Shifter, and all other features available to Haswell Cori nodes are available via new JGI-specific "quality of service" (QOS). 
How to access JGI Cori Compute Capacity
Access to Cori compute capacity is now available to all JGI users. The JGI capacity is now considered to be in production use as of January 2018. As this change was only recently made, we are requesting that users give… <a href="/users/computational-systems/genepool/cori-for-jgi/" title="Cori for JGI" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
