    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Configuration</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                    <!--googleoff: snippet--><!--googleoff: index-->

    <div class="show-toc"></div>

<!--googleon: snippet--><!--googleon: index-->

                
                
                <h2>Compute Nodes</h2>
<p>The Genepool system is made up of a heterogeneous collection of nodes to serve the diverse workload of the JGI users.  Below is a table of the current configuration.</p>
<table><tbody><tr><th># Nodes</th><th>Cores/node</th><th>Memory/node</th><th>Local disk</th><th>Processor</th><th>Hostname</th><th>Vendor</th></tr><tr><td>2</td>
<td>32</td>
<td>1000GB</td>
<td>3.6TB</td>
<td>Xeon E5-4650L</td>
<td><span>mndlhm0205-ib,mndlhm0405-ib.nersc.gov</span></td>
<td>Appro/Cray</td>
</tr><tr><td>5</td>
<td>32</td>
<td>500GB</td>
<td>3.6TB</td>
<td>Xeon E5-4650L</td>
<td><span>mndlhm[01-05]03.nersc.gov</span> </td>
<td>Appro/Cray</td>
</tr><tr><td>8</td>
<td>16</td>
<td>248GB</td>
<td>1.8TB</td>
<td>Xeon E5-2670</td>
<td><span>mc0xxx.nersc.gov</span></td>
<td>Appro/Cray</td>
</tr><tr><td>212</td>
<td>16</td>
<td>120GB</td>
<td>1.8TB</td>
<td>Xeon E5-2670</td>
<td><span>mc0xxx.nersc.gov</span></td>
<td>Appro/Cray</td>
</tr><tr><td>14</td>
<td>20</td>
<td>120GB</td>
<td> </td>
<td> </td>
<td>mc1322-33,mc1344</td>
<td> </td>
</tr><tr><td>14</td>
<td>32</td>
<td>120GB</td>
<td> </td>
<td> </td>
<td>mc1535-48</td>
<td> </td>
</tr><tr><td>1</td>
<td>20</td>
<td>248GB</td>
<td> </td>
<td> </td>
<td>mc1359</td>
<td> </td>
</tr><tr><td>100</td>
<td>32</td>
<td>248GB</td>
<td> </td>
<td> </td>
<td>mc1637-48,mc1705-60,<span>mc1601-22</span></td>
<td> </td>
</tr><tr><td>12</td>
<td>32</td>
<td>500GB</td>
<td> </td>
<td> </td>
<td>mc1625-36</td>
<td> </td>
</tr><tr><td>1</td>
<td>80</td>
<td>2 TB</td>
<td>300 GB</td>
<td>Intel Xeon X7560 2.27 GHz</td>
<td>mndlmem03.nersc.gov</td>
<td>IBM</td>
</tr></tbody></table><h2>Login Nodes</h2>
<p>Genepool currently has two login nodes.  Users land on one of the two login nodes when they ssh to genepool.nersc.gov.  The different login nodes sit behind a load balancer and you will land on the login node with the least number of connections, or if you already have active connections, you will be directed to the same login node.   The names of the login nodes are genepool13 and genepool14, however you should always access the login nodes with ssh username@genepool.nersc.gov.  </p>
<h2>"gpint" Analysis Nodes</h2>
<p>Genepool also has nodes which are used for pipeline control and pre- and post-processing of jobs as well as analysis jobs. At present, these nodes are allocated per group and are called gpintNNN (NN = 200,201,...). Users should refer to the table below to determine which node belongs to their group and only use the nodes allocated to their group.  </p>
<table align="left"><tbody><tr><td>
<h4><strong>Node Name</strong></h4>
</td>
<td>
<h4><strong>Assigned Group</strong></h4>
</td>
<td>
<h4><strong>Cores</strong></h4>
</td>
<td>
<h4><strong>Memory</strong></h4>
</td>
<td>
<h4><strong>Per-process</strong></h4>
<h4><strong>Memory Limit</strong></h4>
</td>
</tr><tr><td valign="top">gpint200.nersc.gov</td>
<td valign="top">R &amp; D</td>
<td valign="top">20</td>
<td valign="top">256G</td>
<td valign="top">208G</td>
</tr><tr><td valign="top">gpint201.nersc.gov</td>
<td valign="top">R &amp; D</td>
<td valign="top">20</td>
<td valign="top">256G</td>
<td valign="top">208G</td>
</tr><tr><td valign="top">gpint202.nersc.gov</td>
<td valign="top">Plant</td>
<td valign="top"><span>20</span></td>
<td valign="top">256G</td>
<td valign="top">208G</td>
</tr><tr><td valign="top">gpint203.nersc.gov</td>
<td valign="top">Plant</td>
<td valign="top"><span>20</span></td>
<td valign="top">256G</td>
<td valign="top">208G</td>
</tr><tr><td valign="top">gpint204.nersc.gov</td>
<td valign="top">IMG</td>
<td valign="top"><span>20</span></td>
<td valign="top">128G</td>
<td valign="top">101G</td>
</tr><tr><td valign="top">gpint205.nersc.gov</td>
<td valign="top">IMG</td>
<td valign="top"><span>20</span></td>
<td valign="top">128G</td>
<td valign="top">101G</td>
</tr><tr><td valign="top">gpint206.nersc.gov</td>
<td valign="top">GBP</td>
<td valign="top"><span>20</span></td>
<td valign="top">128G</td>
<td valign="top">101G</td>
</tr><tr><td valign="top">gpint207.nersc.gov</td>
<td valign="top">SDM</td>
<td valign="top"><span>20</span></td>
<td valign="top">128G</td>
<td valign="top">101G </td>
</tr><tr><td valign="top">gpint208.nersc.gov</td>
<td valign="top">RQC</td>
<td valign="top"><span>20</span></td>
<td valign="top">128G </td>
<td valign="top">101G </td>
</tr><tr><td valign="top">gpint209.nersc.gov</td>
<td valign="top">Assembly</td>
<td valign="top"><span>20</span></td>
<td valign="top">128G </td>
<td valign="top">101G</td>
</tr><tr><td valign="top">gpint210.nersc.gov</td>
<td valign="top">Assembly</td>
<td valign="top"><span>20</span></td>
<td valign="top">128G </td>
<td valign="top">101G </td>
</tr><tr><td valign="top">gpint211.nersc.gov</td>
<td valign="top">Vista</td>
<td valign="top"><span>20</span></td>
<td valign="top">128G </td>
<td valign="top">101G </td>
</tr><tr><td valign="top">gpint212.nersc.gov</td>
<td valign="top">IMG</td>
<td valign="top"><span>20</span></td>
<td valign="top">128G</td>
<td valign="top">101G </td>
</tr><tr><td valign="top">gpint213.nersc.gov</td>
<td valign="top">Fungal</td>
<td valign="top"><span>20</span></td>
<td valign="top">128G</td>
<td valign="top">101G</td>
</tr><tr><td valign="top">gpint501.nersc.gov</td>
<td valign="top">IMG </td>
<td valign="top"><span>20</span></td>
<td valign="top">512G</td>
<td valign="top"> </td>
</tr><tr><td valign="top">gpint502.nersc.gov</td>
<td valign="top">Plant </td>
<td valign="top"><span>20</span></td>
<td valign="top">512G</td>
<td valign="top"> </td>
</tr><tr><td valign="top">gpint503.nersc.gov</td>
<td valign="top">Fungal </td>
<td valign="top"><span>20</span></td>
<td valign="top">512G</td>
<td valign="top"> </td>
</tr></tbody></table><p> </p>
<h2>Other Special Purpose Nodes</h2>
<p>Nodes which perform specialized tasks such as running a web-server and/or databases are also part of Genepool, although they may not have all the features of login or analysis nodes (such as NGF filesystems, login access, etc.). These nodes are also currently assigned on a per-group basis. Use of these nodes is restricted to the groups to which they have been assigned.</p>
<h2>Oracle Databases</h2>
<table><tbody><tr><td valign="top">Oracle Database</td>
<td valign="top"> gpodb05</td>
<td valign="top">vortex<span>.jgi-psf.org</span></td>
</tr><tr><td valign="top">Oracle Database</td>
<td valign="top"> gpodb01</td>
<td valign="top">data<span>.jgi-psf.org</span></td>
</tr><tr><td valign="top">Oracle Database</td>
<td valign="top"> gpodb04</td>
<td valign="top">muskrat<span>.jgi-psf.org</span></td>
</tr><tr><td valign="top">Oracle Database</td>
<td valign="top"> </td>
<td valign="top">midway<span>.jgi-psf.org</span></td>
</tr><tr><td>Oracle Database</td>
<td> gpodb03</td>
<td>jericho<span>.jgi-psf.org</span></td>
</tr><tr><td>Oracle Database</td>
<td> </td>
<td>nihdb<span>.jgi-psf.org</span></td>
</tr><tr><td>Oracle Database</td>
<td> </td>
<td>warwick<span>.jgi-psf.org</span></td>
</tr><tr><td>Oracle Database</td>
<td> </td>
<td>troi<span>.jgi-psf.org</span></td>
</tr><tr><td>Oracle Database</td>
<td> </td>
<td>farina<span>.jgi-psf.org</span></td>
</tr><tr><td>Oracle Database</td>
<td> </td>
<td>goku<span>.jgi-psf.org</span></td>
</tr><tr><td>Oracle Database</td>
<td> </td>
<td>catalpa<span>.jgi-psf.org</span></td>
</tr><tr><td>Oracle Databse</td>
<td> </td>
<td>img-nih<span>.jgi-psf.org</span></td>
</tr><tr><td>Oracle Database</td>
<td> </td>
<td>la-oracle<span>.jgi-psf.org</span></td>
</tr><tr><td>PostgreSQL Database</td>
<td> </td>
<td>gbp-db-prod<span>.jgi-psf.org</span></td>
</tr></tbody></table><h2>MySQL Databases</h2>
<table><tbody><tr><td>MySQL Database</td>
<td>gpdb01.nersc.gov</td>
<td>lemur.jgi-psf.org</td>
</tr><tr><td>MySQL Database</td>
<td>gpdb02.nersc.gov</td>
<td>portal</td>
</tr><tr><td>MySQL Database</td>
<td>gpdb03.nersc.gov</td>
<td>portal</td>
</tr><tr><td>PostgreSQL Database</td>
<td>gpdb04.nersc.gov</td>
<td>Plant database</td>
</tr><tr><td>PostgreSQL Database</td>
<td>gpdb05.nersc.gov</td>
<td>polonium<span>.jgi-psf.org</span></td>
</tr><tr><td>
<p>MySQL Database for Portal group</p>
</td>
<td>gpdb07</td>
<td> portal</td>
</tr><tr><td>
<p>MySQL Database for Portal group</p>
</td>
<td>gpdb08</td>
<td> </td>
</tr><tr><td>
<p>MySQL Database</p>
</td>
<td>gpdb09</td>
<td>anu<span>.jgi-psf.org</span></td>
</tr><tr><td>
<p>MySQL Database for Plant Group</p>
</td>
<td>gpdb10</td>
<td>cigzome.jgi-psf.org</td>
</tr><tr><td>
<p>MySQL Database for Plant Group</p>
</td>
<td>gpdb11</td>
<td>dbcompgen.jgi-psf.org</td>
</tr></tbody></table><h2><span style="font-size: 20px; line-height: 1.2em;">Web Services</span></h2>
<p> </p>
<table><tbody><tr><td valign="top">
<h4>Purpose</h4>
</td>
<td valign="top">
<h4>Name</h4>
</td>
<td valign="top">
<h4>Legacy Name</h4>
</td>
</tr><tr><td>Web server</td>
<td> gpweb01</td>
<td>
<p>vista.jgi-psf.org<br><a href="http://genome.lbl.gov/"><span>genome.lbl.gov</span></a><br><a href="http://pipeline.lbl.gov/"><span>pipeline.lbl.gov</span></a><br><span style="text-decoration: underline;">pga.lbl.gov</span><br><a href="http://www-pga.lbl.gov/"><span>www-pga.lbl.gov</span></a><br><a href="http://gsd.lbl.gov/"><span>gsd.lbl.gov</span></a><br><a href="http://www.gsd.lbl.gov/"><span>www.gsd.lbl.gov</span></a><br><a href="http://www-gsd.lbl.gov/"><span>www-gsd.lbl.gov</span></a></p>
</td>
</tr><tr><td>Web server</td>
<td> gpweb02</td>
<td>
<p>hazelton.jgi-psf.org <a id="internal-source-marker_0.7282206895077421" href="http://atgc.lbl.gov/"><span><br>atgc.lbl.gov</span></a><br><a href="http://chr16.lbl.gov/"><span>chr16.lbl.gov</span></a><br><a href="http://enhancer.lbl.gov/"><span>enhancer.lbl.gov</span></a><br><a href="http://enhancer-test.lbl.gov/"><span>enhancer-test.lbl.gov</span></a><br><a href="http://genome-test.lbl.gov/"><span>genome-test.lbl.gov</span></a><br><a href="http://hazelton.lbl.gov/"><span>hazelton.lbl.gov</span></a><br><a href="http://pipeline-test.lbl.gov/"><span>pipeline-test.lbl.gov</span></a><br><a href="http://regprecise.lbl.gov/"><span>regprecise.lbl.gov</span></a><br><a href="http://regpredict.lbl.gov/"><span>regpredict.lbl.gov</span></a><br><a href="http://rviewer.lbl.gov/"><span>rviewer.lbl.gov</span></a></p>
</td>
</tr><tr><td>IMG web nodes</td>
<td>gpweb04-07</td>
<td>img-edge[1-4].jgi-psf.org</td>
</tr><tr><td>Web server</td>
<td>gpweb08</td>
<td>athena.jgi-psf.org, geneprimp, coal, clams, gold, gold-dev, ani</td>
</tr><tr><td>Galaxy server</td>
<td>gpweb09</td>
<td>galaxy.jgi-psf.org</td>
</tr><tr><td>Galaxy dev server</td>
<td>gpweb10</td>
<td>galaxy-dev.jgi-psf.org</td>
</tr><tr><td>Portal server</td>
<td>gpweb11</td>
<td>frylock.jgi-psf.org</td>
</tr><tr><td>Portal server</td>
<td>gpweb12</td>
<td>gp-next.jgi-psf.org</td>
</tr><tr><td>Portal web nodes</td>
<td>gpweb13-16</td>
<td>gp-edge[1-4].jgi-psf.org</td>
</tr><tr><td>Portal server</td>
<td>gpweb17</td>
<td>gp-test.jgi-psf.org</td>
</tr><tr><td>Portal server</td>
<td>gpweb18</td>
<td>portal.jgi-psf.org</td>
</tr><tr><td>Portal server</td>
<td>gpweb19</td>
<td>uhura.jgi-psf.org</td>
</tr><tr><td>Plant web nodes</td>
<td>gpweb20-22</td>
<td>zome-edge[1-3].jgi-psf.org</td>
</tr><tr><td>Plant dev web node</td>
<td>gpweb23</td>
<td>zome-dev.jgi-psf.org</td>
</tr><tr><td>Plant web node</td>
<td>gpweb24</td>
<td>zome-private.jgi-psf.org</td>
</tr><tr><td>Plant web node</td>
<td>gpweb25</td>
<td>zome-services.jgi-psf.org</td>
</tr><tr><td>Web server</td>
<td>gpweb26</td>
<td>jel.jgi-psf.org, seqtechrnd.jgi-psf.org, synbio.jgi-psf.org, rqc.jgi-psf.org, pyrotagger.jgi-psf.org</td>
</tr><tr><td>2nd IP for gpweb26</td>
<td>gpweb27</td>
<td>seqtech.jgi-psf.org</td>
</tr><tr><td> </td>
<td> </td>
<td> </td>
</tr><tr><td>Portal load balanced website</td>
<td>genome-lb</td>
<td>gpweb13 - gpweb16 - genome.jgi.doe.gov, genome.jgi-psf.org</td>
</tr><tr><td>Plant load balanced website</td>
<td>zome-lb</td>
<td>gpweb20-22 and gpweb24-25 - www.phytozome.net</td>
</tr><tr><td>IMG load balanced website</td>
<td>img-lb</td>
<td>gpweb04-gpweb07 - img.jgi.doe.gov</td>
</tr></tbody></table><h2>Interconnect</h2>
<p>The majority of the compute nodes are connected with a 1 Gb/sec Gigabit Ethernet switch.  A few nodes (details forthcoming) are connected via 10Gb/sec ethernet.</p>
<h2>File Systems</h2>
<p>Genepool will mount a number of file systems.  See the <a href="/users/computational-systems/genepool/file-storage-and-io/">file systems</a> page for more details.</p>
<ul><li>Global homes</li>
<li>/usr/common</li>
<li>JGI 2.7PB GPFS file system "projectb"</li>
<li>$SCRATCH</li>
</ul><h2>Batch System</h2>
<p>Genepool/Phoebe will use a fair share batch scheuler called "UGE".  See our documentation on <a href="/users/computational-systems/genepool/running-jobs/">submitting jobs</a> and <a href="/users/computational-systems/genepool/queues-and-policies/">queues and policies</a> for more details.</p>
<p> </p>
                </div>
                
            
