
    <div class="main-wrapper">

    <h1 id="page-heading">Running Jobs</h1>
    
    <section><div class="Content"></div></section>
    
        <div class="IndexList">
            
                <div class="index-list-item first">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/running-jobs/submitting-jobs/" title="Submitting Jobs">Submitting Jobs<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">How to submit your job to the UGE. <a href="/users/computational-systems/genepool/running-jobs/submitting-jobs/" title="Submitting Jobs" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/running-jobs/running-with-java/" title="Running with Java">Running with Java<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Solutions to some of the common problems users have with running on Genepool when the JVM is part of their workflow. <a href="/users/computational-systems/genepool/running-jobs/running-with-java/" title="Running with Java" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/running-jobs/batch-script-examples/" title="Batch Script Examples">Batch Script Examples<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Sample batch scripts for Genepool/Phoebe highlighting queue selection, setting the run time and requesting large amounts of memory.  <a href="/users/computational-systems/genepool/running-jobs/batch-script-examples/" title="Batch Script Examples" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/running-jobs/interactive-jobs/" title="Interactive Jobs">Interactive Jobs<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">How to run your workflow on the interactive nodes. <a href="/users/computational-systems/genepool/running-jobs/interactive-jobs/" title="Interactive Jobs" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/running-jobs/job-arrays/" title="Job Arrays on Genepool">Job Arrays on Genepool<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Job arrays are a way to efficiently submit large numbers of jobs. <a href="/users/computational-systems/genepool/running-jobs/job-arrays/" title="Job Arrays on Genepool" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/running-jobs/parallel-batch-scripts/" title="Parallel Batch Scripts">Parallel Batch Scripts<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">This page has examples of how to run parallel jobs on Genepool.  <a href="/users/computational-systems/genepool/running-jobs/parallel-batch-scripts/" title="Parallel Batch Scripts" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/running-jobs/best-practices/" title="Best Practices - and Practices to Avoid">Best Practices - and Practices to Avoid<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Things users should do to run jobs efficiently using UGE. <a href="/users/computational-systems/genepool/running-jobs/best-practices/" title="Best Practices - and Practices to Avoid" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/running-jobs/monitoring-and-managing-jobs/" title="Monitoring and Managing Jobs">Monitoring and Managing Jobs<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Information on how to monitor and modify your jobs after they've been submitted.  <a href="/users/computational-systems/genepool/running-jobs/monitoring-and-managing-jobs/" title="Monitoring and Managing Jobs" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item ">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/running-jobs/accounting/" title="Accounting - What happened with that job?">Accounting - What happened with that job?<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary">Find out about your group's usage and how charging calculations are done. <a href="/users/computational-systems/genepool/running-jobs/accounting/" title="Accounting - What happened with that job?" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
                <div class="index-list-item last">
    
    <div class="list-text">
        <h2 class="article-list-title"><a href="/users/computational-systems/genepool/running-jobs/submitting-jobs-to-denovo/" title="Submitting jobs to Denovo">Submitting jobs to Denovo<span class="more"></span></a></h2>
        <div class="DateAuthors">
    
    
</div>


        
            <p class="Summary"> 
Submitting your job
If you are submitting your job on Denovo using SLURM you do NOT need to source any batch settings. If you are submitting your job on Denovo using UGE you do DO need to source UGE batch settings. The batch environment can be loaded into your path using modules.  If qsub is not working properly, check to make sure that the uge module is loaded:
module load uge
Alternatively, add it to your ~/.bashrc.ext
 [ "$NERSC_HOST" == denovo ] &amp;&amp; module load uge
If you… <a href="/users/computational-systems/genepool/running-jobs/submitting-jobs-to-denovo/" title="Submitting jobs to Denovo" class="more">Read&nbsp;More&nbsp;&raquo;</a></p>
        
    </div>
    
</div>

            
