    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Running with Java</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                
                <p>Workflows that require the Java Virtual Machine will run into a couple of issues when running on Genepool.</p>
<h2>Java Software installed on Genepool</h2>
<p>There are a number of software packages installed on Genepool which make use of the Oracle JVM.  This isn't an exhaustive list however and is being actively maintained.</p>
<ul><li>MEGAN - Metagenomics analysis and visualization tool</li>
</ul><h2>Memory Issues with the JVM</h2>
<p>If you find that your job is running out of memory or the JVM can not be initialized, this is because the JVM, by default will try to take 1/4 of the memory on the node where it is running. If you have not requested that much for your job (by using h_vmem), the JVM will not have enough memory and will crash. To ensure that you are setting the maximum heap size to the appropriate value, please set the following environment variable:</p>
<p>bash:</p>
<p><span class="code-basic">export _JAVA_OPTIONS="-Xmx1G"</span></p>
<p>tcsh:</p>
<p><span class="code-basic">setenv _JAVA_OPTIONS "-Xmx1G"</span></p>
<p>The "-Xms" and "-Xmx" options tell the JVM the minimum and maximum heap size respectively. In the example above, it is set to 1G. These arguments only accept integral values, so to set the heap size to something smaller, you can use "M" for megabytes, e.g. "-Xmx256M".  You should select somewhat less memory for "-Xmx" than hv_mem (or ram.c for a single slot job) to account for overhead for any other processes your script may run concurrently. </p>
<p>Please note that the capitalization here is important, "-xmx1g", "-Xmx1g" will not work.</p>
<p>For more information, please check out this <a title="external site describing common issues with setting the heap for the JVM" href="http://javahowto.blogspot.com/2006/06/6-common-errors-in-setting-java-heap.html" target="_blank">resource</a>.</p>
                </div>
                
            
