    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">Data Management</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                    <!--googleoff: snippet--><!--googleoff: index-->

    <div class="show-toc"></div>

<!--googleon: snippet--><!--googleon: index-->

                
                
                <h2><a style="font-size: 1.5em; background-color: #ffffff;" name="jgi_hpss"></a></h2>
<h2>          Archiving your data with HPSS</h2>
<p>These are some basic examples of data transfer and access with HPSS.</p>
<h3>Access Example</h3>
<h4>Using HSI from a NERSC Production System</h4>
<p>All of the NERSC computational systems available to users have the <strong><em>hsi</em></strong> client already installed.  To access the <em><strong>Archive</strong></em> storage system you can type <strong><em>hsi</em></strong> with no arguments:</p>
<pre class="code-basic">% hsi</pre>
<p>That is, the utility is set up to connect to the <strong><em>Archive</em></strong> system by default.  This is equivalent to typing:</p>
<pre class="code-basic">% hsi -h archive.nersc.gov</pre>
<h3>HSI Usage Example</h3>
<p>You can run hsi commands in several different ways:</p>
<table><tbody><tr><td>From a command line:</td>
<td>% hsi</td>
</tr><tr><td>Single-line execution:</td>
<td>% hsi "mkdir run123;  cd run123; put bigdata.0311</td>
</tr><tr><td>Read commands from a file:</td>
<td>% hsi "in command_file"</td>
</tr><tr><td>Read commands from standard input:</td>
<td>% hsi &lt; command_file</td>
</tr><tr><td>Read commands from a pipe:</td>
<td>% cat command_file | hsi</td>
</tr></tbody></table><p>Just typing <strong><em>hsi</em></strong> will enter an interactive command shell, placing you in your home directory on the <strong><em>Archive</em></strong> system.  From this shell, you can run the <em>ls</em> command to see your files, <em>cd</em> into storage system subdirectories, <em>put</em> files into the storage system and <em>get</em> files from it.</p>
<h4>Specifying local and HPSS file names when storing or retreiving files</h4>
<p>The HSI put command stores files from your local file system into HPSS and the get command retrieves them.  The command:</p>
<p class="code-basic">% put myfile</p>
<p>will store the file named "myfile" from you current local file system directory into a file of the same name into your current HPSS directory.  So, in order to store "myfile" into the "run123" subdirectory of your home in HPSS, you can type:</p>
<pre class="code-basic">% hsi<br>A:/home/j/joeuser-&gt; cd run123<br>A:/home/j/joeuser-&gt; put myfile</pre>
<p>or</p>
<pre class="code-basic">% hsi "cd run123; put myfile"</pre>
<p>The <strong><em>hsi</em></strong> utility uses a special syntax to specify local and HPSS file names when using the <em>put</em> and <em>get</em> commands:</p>
<ol><li>The local file name is always on the left and the HPSS file name is always on the right.</li>
<li>Use a ":" (colon character) to seperate the names</li>
</ol><p>That is:</p>
<pre class="code-basic">% put local_file : hpss_file<br>% get local_file : hpss_file</pre>
<p>This format is convenient if you want to store a file named "foo" in the local directory as "foo_2010_09_21" in HPSS:</p>
<pre class="code-basic">% hsi "put foo : foo_2010_09_21"</pre>
<p>You can also use this method to specify the full or relative pathnames of files in both the local and HPSS file systems:</p>
<pre class="code-basic">% hsi "get bigcalc/hopper/run123/datafile.0211 : /scratch2/scratchdirs/joeuser/analysis/data"</pre>
<h2>Archiving your data with HTAR</h2>
<p>HTAR is a command line utility that creates and manipulates HPSS-resident tar-format archive files.  It is ideal for storing groups of files in HPSS.  Since the tar file is created directly in HPSS, it is generally faster and uses less local space than creating a local tar file then storing that into HPSS.  However, there is a file size limit of 64GB for an individual file within the archive (archives themselves can be much larger).  <strong>So if you have individual files that are larger than 64GB that you need to back up, use hsi for those files. </strong></p>
<h3>Examples of when to use HTAR</h3>
<p>HTAR is useful for storing groups of related files that you will probably want to access as a group in the future.  Examples include:</p>
<ul><li>archiving a source code directory tree</li>
<li>archiving output files from a code simulation run</li>
<li>archiving files generated by the run of an experiment</li>
</ul><p>If stored individually, the files will likely be distributed across a collection of tapes, requiring possibly long delays (due to multiple tape mounts) when fetching them from HPSS.  On the other hand, an HTAR archive file will likely be stored on a single tape, requiring only a single tape mount when it comes time to retrieve the data.</p>
<h3 style="text-align: left;">HTAR Usage Example</h3>
<p style="text-align: left;">The basic syntax of HTAR is similar to the standard tar utility:<br><br> htar -{c|K|t|x|X} -f tarfile [directories] [files] <br><br>As with the standard unix tar utility the "-c" "-x" and "-t" options respectively function to <em>create</em>, <em>extract</em>, and <em>list</em> tar archive files. The "-K" option verifies an existing tarfile in HPSS and the "-X" option can be used to re-create the index file for an existing archive.  <br>Please note, you cannot add or append files to an existing archive.</p>
<p style="text-align: left;">Note: when HTAR creates an archive, it places an additional file (with a strange name) at the end of the archive.  Just ignore the file, it is for HTAR interal use and will not be retrieved when you extract the files from the archive.</p>
<pre class="code-basic" style="text-align: left;"># Create an archive with directory "nova" and file "simulator"<br>% htar -cvf nova.tar nova simulator<br>HTAR: a   nova/                                                                   <br>HTAR: a   nova/sn1987a<br>HTAR: a   nova/sn1993j<br>HTAR: a   nova/sn2005e<br>HTAR: a   simulator<br>HTAR: a   /scratch/scratchdirs/joeuser/HTAR_CF_CHK_61406_1285375012<br>HTAR Create complete for nova.tar. 28,396,544 bytes written for 4 member files, max threads: 4 Transfer time: 0.420 seconds (67.534 MB/s)<br>HTAR: HTAR SUCCESSFUL       <br><br># Now List the contents<br>% htar -tf nova.tar<br>HTAR: drwx------  joeuser/joeuser          0 2010-09-24 14:24  nova/<br>HTAR: -rwx------  joeuser/joeuser    9331200 2010-09-24 14:24  nova/sn1987a<br>HTAR: -rwx------  joeuser/joeuser    9331200 2010-09-24 14:24  nova/sn1993j<br>HTAR: -rwx------  joeuser/joeuser    9331200 2010-09-24 14:24  nova/sn2005e<br>HTAR: -rwx------  joeuser/joeuser     398552 2010-09-24 17:35  simulator<br>HTAR: -rw-------  joeuser/joeuser        256 2010-09-24 17:36  /scratch/scratchdirs/joeuser/HTAR_CF_CHK_61406_1285375012<br>HTAR: HTAR SUCCESSFUL<br><br># now, as an example, using hsi remove the nova.tar.idx index file from HPSS<br># (Note: you generally do not want to do this)<br>% hsi "rm nova.tar.idx"<br>...<br>rm: /home/j/joeuser/nova.tar.idx (2010/09/24 17:36:53 3360 bytes)<br><br># Now try to list the archive contents without the index file:<br>% htar -tf nova.tar<br>ERROR: No such file: nova.tar.idx           <br>ERROR: Fatal error opening index file: nova.tar.idx<br>HTAR: HTAR FAILED<br><br># Here is how we can rebuild the index file if it is accidently deleted<br>% htar -Xvf nova.tar<br>HTAR: i nova                         <br>HTAR: i nova/sn1987a<br>HTAR: i nova/sn1993j<br>HTAR: i nova/sn2005e<br>HTAR: i simulator<br>HTAR: i /scratch/scratchdirs/joeuser/HTAR_CF_CHK_61406_1285375012<br>HTAR: Build Index complete for nova.tar, 5 files 6 total objects, size=28,396,544 bytes<br>HTAR: HTAR SUCCESSFUL<br><br># <br>% htar -tf nova.tar <br>HTAR: drwx------  joeuser/joeuser          0 2010-09-24 14:24  nova/<br>HTAR: -rwx------  joeuser/joeuser    9331200 2010-09-24 14:24  nova/sn1987a<br>HTAR: -rwx------  joeuser/joeuser    9331200 2010-09-24 14:24  nova/sn1993j<br>HTAR: -rwx------  joeuser/joeuser    9331200 2010-09-24 14:24  nova/sn2005e<br>HTAR: -rwx------  joeuser/joeuser     398552 2010-09-24 17:35  simulator<br>HTAR: -rw-------  joeuser/joeuser        256 2010-09-24 17:36  /scratch/scratchdirs/joeuser/HTAR_CF_CHK_61406_1285375012<br>HTAR: HTAR SUCCESSFUL</pre>
<p> </p>
<p>For more examples, please go to the <a title="Details on file storage for Genepool" href="https://docs.nersc.gov/filesystems/archive/">HPSS</a> page.</p>
                </div>
                
            
