    <div class="main-wrapper">

        <div class="pre_content">
            
            <h1 id="page-heading">UGE Scheduler Cycle Time</h1>
            <div class="DateAuthors">
    
    
</div>

        </div>

        


            
                <div class="Content">
                
                
                <h2>Genepool Cycle Time</h2>
<table style="width: 842px; height: 923px;"><tbody><tr><td><em>Genepool Scheduler Cycle Time</em></td>
<td> </td>
</tr><tr><td>
<p><a href="http://portal.nersc.gov/project/genepool/sched_cycle.png"><img title="" src="http://portal.nersc.gov/project/genepool/sched_cycle.png" alt="" width="503" height="397"></a></p>
<p> </p>
<table><tbody><tr><td><em>Genepool Jobs Dispatched / Hour</em></td>
</tr><tr><td> </td>
</tr></tbody></table><p><a style="font-style: normal; font-size: 13px; font-family: Helvetica, Arial, &#039;Liberation Sans&#039;, FreeSans, sans-serif; color: #274d16;" href="http://portal.nersc.gov/project/genepool/jobs_disp.png"><img style="font-size: 13px;" title="" src="http://portal.nersc.gov/project/genepool/jobs_disp.png" alt="" width="507" height="350"></a></p>
</td>
<td>
<p> </p>
</td>
</tr></tbody></table><h2><span style="font-size: 1.5em; font-weight: bold; line-height: 1.2em;">What is the Scheduler Cycle?</span></h2>
<p>The Univa Grid Engine Scheduler cycle performs a number of important tasks, including:</p>
<ul><li>Prioritizing Jobs</li>
<li>Reserving Resources for jobs requesting more resources (slots / memory)</li>
<li>Dispatching jobs or tasks to the compute nodes</li>
<li>Evaluating job dependencies</li>
</ul><p>The "cycle time" is the length of time it takes the scheduler to complete all of the scheduling activities.  A number of factors can increase the length of the scheduler cycle time including the number of jobs and tasks in the queue, the number of queued jobs, the number of queued jobs requesting resource reservations, the number of candidate tasks to be executed on the cluster, and the number of jobs and tasks with job dependencies. <br><br></p>
                </div>
                
            
